[2019-02-25 21:41] cory-signalfx opened #2 "Missing custom suffix"
You should be able to add a suffix like `%`

[2019-03-01 20:21] cory-signalfx opened #5 "Switch to Go modules"
Switch to go modules, since that's how things are done now.

[2019-03-01 20:51] cory-signalfx opened #6 "Document watermarks"
[This PR from Stripe](https://github.com/stripe/terraform-provider-signalform/pull/2) never got clear docs. Add them!

[2019-03-01 22:27] cory-signalfx opened #8 "Support for custom domains"
From @sjung-stripe:

to which i replied:

[2019-03-18 16:33] #5 closed

[2019-04-04 20:10] #8 closed

[2019-04-04 20:49] cory-signalfx commented on #2
This works, actually.

[2019-04-04 20:49] #2 closed

[2019-04-15 06:29] juliawong opened #11 "Clarification for installation"
Hi, I want to make sure that we're using this Terraform provider correctly and see if there is a better way to do so.

I have this in my vars.tf file:
[code]
and a second file called terraform.tfvars where I set the `signalfx_auth_token` variable.

After doing a `terraform init` I received an error about it not being found in the official repository and instead putting it in `terraform.d/plugins/d

[2019-04-23 12:34] tiedotguy commented on #6
What's the intent behind that PR? It looks like there's nothing that actually consumes the additional watermarks, it just allows tf to not consider it an error?

[2019-04-26 04:14] juliawong commented on #11
Our workaround for this was to create a Docker image with this provider installed that our devs use. Hopefully this can be added as an official provider to TF in the future :)

[2019-04-26 04:14] #11 closed

[2019-05-07 04:05] sm4 commented on #14
Example terraform template:
[code]
Creating a dashboard called 'Example' inside the group creates a new dashboard with the same name, resulting in two dashboards called 'Example' inside the group.

[2019-05-10 01:59] MovieStoreGuy opened #15 "`color_by` does not work for Single Value Chart"
Given this resource definition:
[code]

results in the following error:
[code]

[2019-05-10 06:01] draquila commented on #15
Looks like docs are wrong - should be
[code]

[2019-05-20 14:49] cory-signalfx commented on #6
It was a hedge against a future when SignalFx improves watermark support.

[2019-05-20 21:09] cory-signalfx commented on #13
Hey @tiedotguy! Sorry for the delay, I was on vacation.

Hrmmmm, curious. This is indeed annoying. For future spelunkers, the issue is that the API has a `legendOptions.fields` that contains an array of objects, each is a field name and an `enabled` property that can be true or false.  `legend_fields_to_hide` as it stands only allows you to specify which fields you want to _hide_. This confuses me

[2019-05-20 21:30] cory-signalfx commented on #14
Hey there! Sorry for the slow response, I was on vacation!

This is actually a property of the SignalFx API. If a [Dashboard Group is created](https://developers.signalfx.com/dashboard_groups_reference.html#tag/Create-Single-Dashboard-Group) via the API and specifies no dashboards, then one is created for it. I suspect this is because the SignalFx web app has no concept of viewing a dashboard grou

[2019-05-20 21:34] tiedotguy commented on #13
All good! As you can probably tell, we're ramping up our adoption and finding all the corner cases :)

That would make more sense, I'm not familiar with the TF model, so didn't realize it was an option.  Definitely cleaner than adding a second flag.

I think the best approach would be to confirm the actual implementation and have it flow from there to documentation, then Terraform.  That ensures w

[2019-05-20 21:38] cory-signalfx commented on #13
Okey doke. I think I'll hold into this until I finish #15 and then maybe take a stab at changing it as I have free time this week. Sound good?

[2019-05-20 21:43] cory-signalfx commented on #15
The docs are indeed wrong. I'll get that fixed up!

[2019-05-20 21:52] #15 closed

[2019-05-20 21:54] tiedotguy commented on #13
Awesome!

[2019-05-20 22:30] tiedotguy commented on #6
Well we do have a feature request in for it too... :)

[2019-05-22 23:49] MovieStoreGuy commented on #14
Thank you so much @cory-signalfx

[2019-05-24 03:21] detouched opened #26 "Selected event overlay doesn't match event overlay"
Dashboard can have `event_overlay` as well as `selected_event_overlay`, and the docs state they have same fields:

However, unlike [`event_overlay`](https://github.com/signalfx/terraform-provider-signalfx/blob/12d56df44cf25bf97792e36f2881a88870c8af03/signalfx/dashboard.go#L288), [`selected_event_overlay`](https://github.com/signalfx/terraform-provider-signalfx/blob/12d56df44cf25bf97792e36f2881a888

[2019-05-24 04:25] adamorabi opened #27 "Support for Event Feed chart type in the Terraform provider"
It looks like the terraform signalfx provider (https://github.com/signalfx/terraform-provider-signalfx) has no support for the Event Feed chart type and there is no documentation for the REST API (https://developers.signalfx.com/charts_reference.html#tag/Create-Single-Chart) for option.type = "events" either.

I would like to be able to fully manage my dashboard as code using terraform so I would

[2019-05-24 14:11] cory-signalfx commented on #27
Makes sense! I've looked internally and found that this was missing from the docs and filed a ticket (DOCS-622) to fix that side up.

I'll also add it to the provider soon, maybe next week?

[2019-05-24 14:53] cory-signalfx commented on #14
Merged and tagging in a moment!

[2019-05-24 14:53] cory-signalfx commented on #13
Merged and tagging soon!

[2019-05-24 15:01] cory-signalfx commented on #26
Indeed! Lemme look at the docs and such to verify behavior…

[2019-05-24 15:02] cory-signalfx commented on #26
Ok, looks like the API only supports those options on the `selectedEventOverlays`, so I'll adjust the docs here to not be confusing.

[2019-05-26 01:38] detouched commented on #26
Hey @cory-signalfx,

I tried the following, as your change suggests (if I read it correctly):
[code]
I believe this is what you meant by:

However this raises an error:
[code]

So in fact these attributes of `selected_event_overlay` should be inside of `source` element.

[2019-05-27 23:13] MovieStoreGuy opened #29 "Support for Terraform 0.12.00"
Hi team,

I have had a quick glance over the changes for 11.x to 12.x and it looks to be a lot of changes required within the provider to make it happen.

This feels like an epic within its own right but I wanted to open it to have some way to track progress and what needs to happen.

[2019-05-28 14:22] cory-signalfx commented on #26
Eep, I must've been doing two many things at once when I last modified that. I've just pushed a commit that adjusts things a bit. This one looks right to me.

[2019-05-28 14:23] cory-signalfx commented on #29
Roger! I planned on doing a spike/investigation of this during this week. I'll keep this here as a way of tracking that word. :)

[2019-05-28 16:49] cory-signalfx opened #31 "Add detector `tip` field"
It's undocumented in the API. 😄

[2019-05-29 21:14] cory-signalfx commented on #31
It's already there. 😄

[2019-05-29 21:14] #31 closed

[2019-05-29 21:15] #27 closed

[2019-05-30 01:34] MovieStoreGuy commented on #29
Looking at the PR, do you know if that will continue to work with versions  0.11.x?

[2019-05-30 14:26] cory-signalfx commented on #29
You have to publish a binary for each. There are no code changes required otherwise, so this will just be a matter of publishing both as branches until dropping 0.11. I'll be asking Hashicorp about this soon.

[2019-05-31 01:35] MovieStoreGuy commented on #29
Interesting, I should be able to use it within our bundled releases just need something to go off, either a tag or a branch.

[2019-05-31 14:22] cory-signalfx commented on #29
The branch is #32 or `cory-tf-0-12`. I see some older comments about adding a version number to provider binaries so that things like this can coexist with terraform versions, but I am unsure if that still works or if you can use [aliasing](https://www.terraform.io/docs/configuration/providers.html#alias-multiple-provider-instances).

Regardless, I have no plans to make 0.11 or 0.12 differ in any

[2019-06-03 01:11] juliawong opened #36 "Add support for importing"
We'd love to see the SFx Terraform provider support [importing](https://www.terraform.io/docs/import/usage.html). This would allow us to run something like `terraform import <name_of_resource> <remote_id>` and have it added to the TF file and state.

https://github.com/signalfx/signalfx-to-terraform bridges the gap here but it'd be awesome to see it all integrated into the provider. This would all

[2019-06-06 16:50] cory-signalfx commented on #36
A great idea! I'll get on this in the next week or two.

[2019-06-07 21:32] cgriggs01 opened #37 "Terraform Provider Development Program Review"
Hi SignalFX Team,

👋 My name is Chris, I'm a member of the Partner team @ HashiCorp.

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking items and discussion. The review was done on the master branch at git co

[2019-06-10 16:13] cory-signalfx commented on #37
Thanks a ton @cgriggs01! I'll get started on this immediately and hit you back sometime next week. I'm in SF for an office visit, so will be moving a bit slower than usual. :)

[2019-06-10 16:36] cory-signalfx commented on #37
Note that Terraform 0.12 is being tracked separately in #32. I will keep it rebased against master for 0.11 users, which I am certain we have.

[2019-06-10 16:37] cory-signalfx commented on #37
And @cgriggs01 yes, you will need a GCP and PagerDuty resource for this to work. Other integrations of ours — which are to be added — will likely also need that. Unsure how to proceed with that. :/

[2019-06-10 16:39] cgriggs01 commented on #37
Cory, thats not a problem. But the 0.12 provider build should be backward compatible with older TF versions. Just as an FYI, we are only releasing 0.12 ready providers moving forward.

[2019-06-10 16:39] cory-signalfx commented on #37
@cgriggs01 Perfect, I'll of course wrap all this up in a branch for you when I get closer to completion. Thanks for the clarification!

[2019-06-10 16:41] cgriggs01 commented on #37
Would if be possible to have a TF config that deploys the required GCP and PagerDuty infra to run the tests?

[2019-06-10 16:42] cory-signalfx commented on #37
Yeah, I guess so. We'll just need to also include the requisite keys… is that something you can provide if I give you the resources?

[2019-06-10 17:27] cgriggs01 commented on #37
Yes, I definitely have creds for GCP, and will probably be able to get some for PagerDuty. What about Slack?

[2019-06-10 18:15] cory-signalfx commented on #37
Excellent! Slack is no problem, as it's just any valid URL, so you can fake it.

[2019-06-11 15:55] clayembry opened #41 "Missing "Refresh Every" on signalfx_heatmap_chart"
I'm trying to terraform a signalfx_heatmap_chart. In the SignalFx UI, under Chart Options -> Visualization Options, I can set the "Refresh Every" field to 1s, 5s, 1m, 5m, 1h. I would like to set it to 1m, but I can't see any way to do that in terraform: https://github.com/signalfx/terraform-provider-signalfx/blob/master/docs/resources/heatmap_chart.md

I thought it might be "minimum_resolution", w

[2019-06-11 15:57] cory-signalfx commented on #41
Thanks for reporting @clayembry, I'll check on this today and figure out what's up. :)

[2019-06-11 16:02] cory-signalfx commented on #41
A quick check before a meeting says this should be the option `refreshInterval` which is not in the options. I'll get that added and shoot out a PR today or tomorrow. Sorry for thart!

[2019-06-11 23:01] cory-signalfx commented on #41
Hey @clayembry! Turns out this feature is -- [according to the docs](https://developers.signalfx.com/charts_reference.html) only support on list and single value charts:

So in this case, it being absent is on purpose!

[2019-06-12 17:07] cory-signalfx commented on #37
As you can see I'm working my way through this list with PRs. Happily, one doesn't need a PR:

The [common read code](https://github.com/signalfx/terraform-provider-signalfx/blob/master/signalfx/util.go#L193) handles this for us. If we find a 404 then we `SetId("")` and error stays `nil`. I'm gonna check that one off, lemme know if I've misunderstood!

[2019-06-12 23:13] cory-signalfx commented on #43
Excellent suggestion, I'll get it done.

[2019-06-13 00:24] cory-signalfx commented on #37
Hey @cgriggs01, do you have any suggestions on local testing of the site? My [builds are failing](https://travis-ci.org/signalfx/terraform-provider-signalfx/builds/545003244?utm_source=github_status&utm_medium=notification) and short of running `make website-test` and getting some opaque Docker container I'm not sure of next steps! It seems to use Middleman, but has some magic around this test.

[2019-06-13 01:21] cory-signalfx commented on #37
Hey @cgriggs01, it looks like for #39 to start passing we have a chicken and egg problem. The submodule bits for the provider don't exist in the website repo yet, so none of the tests can pass.

[2019-06-13 15:22] clayembry commented on #41
I think it's a bug, but I guess that means it's not a terraform provider bug. It's actually a product API bug. Because I can definitely set that via the UI for heatmap charts. I will raise the bug with the product. Thanks.

![image](https://user-images.githubusercontent.com/12000442/59445348-1e6c5280-8dc5-11e9-8351-6114229bdf1f.png)

[2019-06-13 15:23] cory-signalfx commented on #41
Ah! Let me reopen this and do some testing. I'm quite happy to add the feature to Terraform and make a DOCS ticket internally. :)

[2019-06-13 17:49] cgriggs01 commented on #37
If you're referring to the make target `website-test`, yes that will not pass until the providers website docs have been officially integrated into the terraform.io framework. So no worry there

[2019-06-17 18:00] cgriggs01 commented on #37
You're doing great so far! Once you have written a TF config for the acceptance testing infrastructure, you should put that into a `test-infra/` directory within this repository.

[2019-06-17 21:25] #41 closed

[2019-06-17 21:30] #26 closed

[2019-06-18 22:19] cory-signalfx opened #47 "Team Support"
There's no team support! Adding it would make acceptance tests better, since many objects have teams. :)

[2019-06-19 21:17] cory-signalfx opened #50 "Verify notification `TeamEmail` support"
Seems to not follow the spec, treating it just like `Team`…

[2019-06-26 06:21] zimingw opened #51 "Need support for Calendar Time Zone for time chart"
Hi, I have a question about terraform for SignalFX.  How can I set the Calendar Time Zone of a time chart using terraform?

[2019-06-26 13:17] cory-signalfx commented on #51
Hey @zimingw! I think what we're looking for here is support for the `programOptions.timezone` parameter which was added with calendar support. As you are suggesting, that is currently absent. Consider this an ask and I'll get to it as quick as I can!

[2019-06-26 21:11] cory-signalfx opened #52 "Documentation for dashboard filiter negated/not is incorrect"
It doesn't match the actual properties.

[2019-06-26 21:12] cory-signalfx opened #53 "value_unit improvements"
There are not docs for valid `value_unit` values. Also, it seems to only be in `time_chart` but is also valid for list and single value. Check into that!

[2019-06-26 21:13] cory-signalfx opened #54 "Remove legend_fields_to_hide"
The other legend setup is better. Make sure it's documented and actually exists in all the places.

[2019-06-26 21:14] cory-signalfx opened #56 "Fix present versus enabled in legend_options_fields"
The examples look wrong.

[2019-06-27 00:00] zimingw commented on #51
Thanks @cory-signalfx for fast response!

[2019-06-27 14:17] cory-signalfx commented on #53
Values are:
[code]

[2019-06-28 05:31] detouched opened #58 "Some dashboard never show up"
I have a setup that manages two dashboard groups with 13 dashboards in each.

When I deploy them from scratch it often happens that some of the dashboards don't appear in SignalFX. Output of `terraform apply` is ok (I can find those missing dashboards reported as created).
I can't find any pattern here: it's always a random dashboard(s) that is/are missing. It looks like this only happens when man

[2019-06-28 13:49] cory-signalfx commented on #58
I think this is a situation where the SignalFx API is saying it's done with an operation, but it is in fact not done. The API reports a 200 but some of the data may not have been saved yet, so subsequent operations may race.

We're working internally on some improvements that should mitigate this. For now I have no fixes. :(

[2019-06-28 13:50] cory-signalfx commented on #59
Excellent question! I do not know the answer offhand and will have to dig internally to find out…

[2019-06-28 16:53] cory-signalfx commented on #59
TL;DR: It's random and we likely can't do a lot about it.

I had to look at the implementation and ask a few questions. When the provider run does a group + dash run it creates a group so it has an ID, then creates all the child dashboards that are in that group. Terraform will parallelize when the items aren't dependent , so it's likely that these dashboards are created in whatever order Terrafor

[2019-06-28 16:56] cory-signalfx commented on #58
@detouched If you encounter this again, can use [terraform state show](https://www.terraform.io/docs/commands/state/show.html) to find the ID of the dashboard in question and try to browse to it in the UI?

There's some speculation that we're racing somewhere, but since the relationship is "create group, dashboard contains reference to group id" I don't really grok how that can happen without viol

[2019-07-01 12:59] detouched opened #62 "List chart: missing secondary visualization options"
Looks like there's no way to configure thresholds and colors for secondary visualization in the list chart.

E.g. if `secondary_visualization = "Radial"`, there's currently no way to make look it like this:
<img width="90" alt="Secondary visualization" src="https://user-images.githubusercontent.com/1497429/60438307-bc7c6b80-9c53-11e9-9a88-9148372626d3.png">

`color_scale` isn't allowed by the sche

[2019-07-01 13:59] cory-signalfx commented on #62
Indeed! Over the last couple weeks of revamping in #44 I noticed that a lot of these were inconsistently available. I'll get to this soon!

[2019-07-01 14:13] cory-signalfx commented on #63
Hey @detouched, I think you want to give it `sf_metric` for this to work. I'll keep this ticket open, however, to flag that these should be documented in `resource/list_chart`:

* `value` for Value
* `sf_originatingMetric` for Metric
* `sf_metric` for Plot Name

[2019-07-01 14:39] cdhunt commented on #47
A `member` resource would also be an important requirement for Team support as well.

[2019-07-01 15:56] detouched commented on #63
Awesome, thanks @cory-signalfx!

[2019-07-01 18:08] cory-signalfx commented on #58
Hey @detouched! As of this week we're hoping that some improvements we've made will decrease the likelihood of this occurring. Since it's not rooted in the Terraform provider I'm going to chose this, but please worth with our support team if you see it reoccur so we can focus our efforts. ❤️

[2019-07-01 18:08] #58 closed

[2019-07-01 19:33] cory-signalfx commented on #37
Marking the integration stuff done since we've discussed alternate plans.

[2019-07-01 19:55] #56 closed

[2019-07-02 16:10] #29 closed

[2019-07-02 16:10] cory-signalfx commented on #29
Hey @MovieStoreGuy! Just flagging this `master` is now 0.12!

[2019-07-03 15:01] #51 closed

[2019-07-03 16:11] cory-signalfx commented on #37
Going to close this, as I think we're done here. If there are other things we can deal with them via email, another issue, or reopening this one.

[2019-07-03 16:11] #37 closed

[2019-07-03 17:22] #52 closed

[2019-07-03 18:03] #53 closed

[2019-07-03 18:04] cory-signalfx commented on #57
Done in #71

[2019-07-03 21:12] cory-signalfx commented on #36
The workflow for this is:

* Add a placeholder resource to the file, like `resource "signalfx_detector" "fart" {}`
* Run `terraform import signalfx_detector.fart`
* Run `terraform state show signalfx_detector.fart`
* Grab the output into your clipbard
* Paste the clipboard over the placeholder above, removing the `id = XXX` line.
* Run `terraform plan` to ensure everything worked. Sometimes you'll

[2019-07-03 21:13] #36 closed

[2019-07-03 21:14] #50 closed

[2019-07-03 22:07] cory-signalfx commented on #43
I'm thinking this will look something like:

[code]

But still learning how these work in the API!

[2019-07-03 23:37] cgriggs01 opened #74 "Terraform Provider Development Program - Final Review"
Hey Team,

I took another pass at the provider and have a few items to ask about.

- [ ] The first will be the acceptace tests, I was able to run them from my local machine, but have a number of reoccurring failed tests.  I've included the test output in [testout.txt](https://github.com/signalfx/terraform-provider-signalfx/files/3357037/testout.txt). Let me know if you have any idea of what the is

[2019-07-05 14:09] cory-signalfx commented on #74
Eep! The 404 thing is a regression on my part, thanks for flagging.

The test failures are confusing. I'll try and repro and may need to send you a new token. Will dig in.

[2019-07-05 14:41] cory-signalfx commented on #74
Hey @cgriggs01, is it suitable to instead implement `Exists` rather than checking the status in each `Read` function? I did that in #75 which is what I see done in other providers…

Also, pretty sure I need to send you a new key. All those test failures are on the things that talk to the API. How can I do that?

[2019-07-05 14:44] cory-signalfx commented on #74
(I just sent another one via the webform, which I assume you can find. I used the form `SFX_AUTH_TOKEN=XXX`)

[2019-07-05 14:57] #74 closed

[2019-07-05 16:48] cgriggs01 commented on #74
Thanks for sending the new key over.

Thats all the feedback I have and we can move forward to the merge and release phase. I'd suggest we begin the process today and I will create the new repository and clone/push this up to the new location, get the acceptance tests running in TeamCity then we can be ready to publish the first release and website documentation on Monday.

Does that work for you?

[2019-07-05 16:53] cory-signalfx commented on #74
Yeah, that works for me. I have one other patch I'm working on, but have some work to do on the client lib before I get there. Fire away!

[2019-07-08 14:13] cory-signalfx commented on #62
This was done in #76

[2019-07-08 14:13] #62 closed

[2019-07-08 14:15] cory-signalfx commented on #54
Closing for move to https://github.com/terraform-providers/terraform-provider-signalfx/issues/2

[2019-07-08 14:15] #54 closed

[2019-07-08 14:16] cory-signalfx commented on #6
Closing for move to https://github.com/terraform-providers/terraform-provider-signalfx

[2019-07-08 14:16] #6 closed

[2019-07-08 14:18] cory-signalfx opened #3 "Team Support"
There's no team support! Adding it would make acceptance tests better, since many objects have teams. :)

/cc @cdhunt from old issue

[2019-07-08 14:18] cory-signalfx commented on #47
Closing for move to https://github.com/terraform-providers/terraform-provider-signalfx/issues/3

[2019-07-08 14:18] #47 closed

[2019-07-08 14:19] cory-signalfx opened #4 "Mirrored dashboard support"
This would be awesome if we can support this within the terraform provider.

/cc @MovieStoreGuy who opened this in the other repo.

[2019-07-08 14:19] cory-signalfx commented on #43
Closing for https://github.com/terraform-providers/terraform-provider-signalfx/issues/4

[2019-07-08 20:34] cory-signalfx opened #9 "Member/User Support"
For #3, it would also be nice to have member/user support. This is not possible at present because SignalFx's API lacks a user-update API call. Leaving this here until we have a fix.

[2019-07-12 13:23] doctornkz opened #13 "Field display_name for charts is absent"
PS: Is not a blocker
[code]
but presented in SignalFX API
[code]
And go lib specification
[code]

[2019-07-12 21:47] cory-signalfx commented on #13
Will investigate, thanks!

[2019-07-12 21:48] cory-signalfx opened #14 "Regression in empty dashboard group creation"
Oops! As part of the switchover to signalfx-go, the provider is back to creating dashboard groups with an implicit dashboard.

[2019-07-15 15:38] cory-signalfx commented on #15
cc @austburn as this one has a bump to v1.1.0, since I closed #12

[2019-07-15 15:55] cory-signalfx commented on #15
cc @MovieStoreGuy

[2019-07-16 03:40] HaydonBaddock opened #16 "Opsgenie Notification Creation Errors"
When creating a detector with an Opsgenie notifcation, the error `Missing credentialName field from notification body` is always returned.
This is because the SignalFx API doesn't return `credentialName` in the response body after POSTs to `/v2/detector` but the Terraform plugin is expecting it to.
This is more an issue with the API than with this Terraform plugin, but it's causing the plugin to f

[2019-07-16 14:34] #14 closed, assigned to nobody

[2019-07-16 14:36] cory-signalfx commented on #16
Oh, thanks for flagging @HaydonBaddock. I'll adjust the provider to compensate.

[2019-07-16 15:35] cory-signalfx opened #17 "Upgrades to time_range break some old state"
Before version 4.0.0 the `time_range` field was `TypeString` in `resource/detector` and `resource/time_chart`. I was not aware of how to upgrade them but am now. We should not throw errors on these!

[2019-07-16 15:38] #17 closed, assigned to cory-signalfx

[2019-07-16 16:02] cory-signalfx opened #19 "Need more defaults for time charts?"
In some testing today I noticed that some responses from the API were causing unclean plans on clean repos. I suspect the following:

* time_chart.viz_options.axis needs a default (left)
* time_chart.viz_options.color is turning into grey because the options from sfx-go are nil and turning into 0 for color palettes.
* axes high/low water seems to be sticking some sort of value that we need to take

[2019-07-16 17:27] cory-signalfx opened #20 "Fix crash in grid usage"
Grids seem busted in a test case.

[2019-07-16 17:36] #20 closed, assigned to nobody

[2019-07-17 16:27] yannyu opened #23 "Add ability to set up AWS integration via Terraform"
It would be helpful to be able to set up AWS integrations via Terraform.

[2019-07-17 18:55] jmalin-splunk commented on #16
This does look like an API problem. I'm going to file a JIRA ticket. The response body for **Create Detector** should contain the credential name, but the request body for **Create Integration** for Opsgenie doesn't require a credential name. Typically, a response body won't contain a property if that property isn't currently set.

[2019-07-18 12:28] gpetrousov opened #25 "Slack notifications require `credentialId`"
When creating a detector rule and specifying `Slack` in the notifications array, the documentation does not mention that the code expects to provide also the `credentialId`.

Documentation:
https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/website/docs/r/detector.html.markdown#slack

Code:
https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/s

[2019-07-18 13:49] cory-signalfx commented on #26
Yay, thank you! Sorry this missed.

[2019-07-18 13:49] #25 closed, assigned to nobody

[2019-07-18 13:52] cory-signalfx commented on #25
Dank u wel!

[2019-07-18 13:53] #19 closed, assigned to nobody

[2019-07-18 13:59] gpetrousov commented on #16
Any chance of listing that Jira ticket listed here so we know when the issue is resolved?

[2019-07-18 14:30] cory-signalfx commented on #16
I had a look around and it seems that this field is not required and not returned. I wonder if it's an error that it's present at all? The API seems to ignore unknown keys…

We'll figure this out, but might be able to just remove it.

[2019-07-18 14:38] jmalin-splunk commented on #16
I'm trying to find someone who knows for sure. I haven't filed a ticket
yet, because I don't know who to file it against! If you tested an
integration, and it's not required and not returned, then something's
fishy.

On Thu, Jul 18, 2019 at 7:30 AM Cory Watson <notifications@github.com>
wrote:

--
Joe Malin
Senior Technical Writer
SignalFx

[2019-07-18 15:05] #4 closed, assigned to nobody

[2019-07-18 15:13] cory-signalfx opened #28 "Bad notification strings should not panic"
From #25 we see it's possible to exceed the index of the array due to having an invalid string. We should validate these to avoid future panics.

[2019-07-18 17:05] jmalin-splunk commented on #16
FEED-2087 is the ticket I filed. I wasn't able to reproduce the problem using REST API calls with my own data. I'd like to get a sample request body for **POST** `/v2/detector` that reproduces the problem, so that I can try to reproduce it.

[2019-07-18 17:10] cory-signalfx commented on #16
The error is solely in the realm of the Terraform provider. It's busted cuz it assumes the response will have `credentialName`. Your repro from the ticket is accurate in that it does not contain that field.

[2019-07-18 17:47] cory-signalfx commented on #16
PR coming soon, this field is not real! ;)

[2019-07-18 18:09] #16 closed, assigned to cory-signalfx

[2019-07-18 23:24] HaydonBaddock commented on #16
Thanks people!

[2019-07-19 08:22] gpetrousov commented on #16
Good stuff, thanks a lot guys!

[2019-07-19 16:55] #13 closed, assigned to cory-signalfx

[2019-07-22 13:28] gpetrousov opened #30 "Cannot create multiple notifications for detector"
I'm trying to create a detector which will be able to notify on 2 slack channels or 1 slack channel and OpsGenie. However, no matter the combinations I make, the code only picks up the first policy and truncates the rest.

Example:

[code]

The `payload` variable looks like:

[code]

[2019-07-22 14:05] cory-signalfx commented on #30
Eep! Lemme dig in to that…

[2019-07-22 14:07] cory-signalfx commented on #30
Oh, i see it. You need to separate them out like so:
[code]
and
[code]

That should fix you up.

[2019-07-22 14:14] gpetrousov commented on #30
@cory-signalfx Heey that works! That `.split()` is happening on the commas but I was not taking the quotes into account 😅 . Thanks a lot!

Please mark this as solved

[2019-07-22 14:15] cory-signalfx commented on #30
Great! Will do, but first I'm going to add some docs so future users have a better chance of catching this. Thanks for flagging!

[2019-07-22 14:17] cory-signalfx commented on #31
Fixes #30

[2019-07-23 14:42] a-staebler opened #33 "Add ability to set up Azure integration via Terraform"
Would be useful to have this for Azure too.

[2019-07-23 14:45] cory-signalfx commented on #33
Excellent! I'm currently working on #32 so this is adjacent and relevant!

[2019-07-24 17:50] #30 closed, assigned to cory-signalfx

[2019-07-24 19:19] #23 closed, assigned to cory-signalfx

[2019-07-24 22:17] justinskariah opened #35 "`high_watermark` and `low_watermark` are always being updated during `apply` if their values are not set"
If `high_watermark` and `low_watermark` are not set in `signalfx_time_chart` -> `axis_left`,
default handling for `high_watermark` and `low_watermark` causes it to be set for every `apply`.

Steps to reproduce:
* Create a `signalfx_time_chart` resource with the following `axis_left`
[code]
* Run `terraform apply` to create the new chart
* Run `terraform apply` again
* You would see the following c

[2019-07-29 14:53] cory-signalfx commented on #36
Thanks @austburn!

[2019-07-29 16:40] cory-signalfx commented on #35
Hey @justinskariah! First, thanks so much for the minimal test case!

Next, can you confirm that you are using the latest version of the provider? I believe that this was fixed in #24. Doing local tests on your example shows a clean `terraform apply` after the first one finishes.

[2019-07-29 16:52] #33 closed, assigned to cory-signalfx

[2019-07-29 16:53] cory-signalfx commented on #33
Hey @a-staebler, this is done. I'll do a release later this week.

[2019-07-29 19:42] a-staebler commented on #33
Awesome! 🎇

[2019-07-29 21:49] justinskariah commented on #35
Yes, I am on the latest version. Sorry, I should have added that to the bug details.
[code]
I think this was introduced with [these](https://github.com/terraform-providers/terraform-provider-signalfx/pull/24#issuecomment-514221587) changes

[2019-07-30 14:39] cory-signalfx commented on #35
Ok, I can repro this now. I had a sneaky (old) provider installed in the directory I tried to test this minimal case in. On it!

[2019-07-30 15:25] #35 closed, assigned to cory-signalfx

[2019-07-30 23:11] justinskariah commented on #35
Awesome, thanks @cory-signalfx for fixing it.

[2019-08-05 05:09] ejwmoreau opened #43 "Support for "Display Units" in Detectors"
Hi :)
Not sure if this is the right place for this request, but we noticed there's no "Display Units" field for detectors that we can use in Terraform.

I'm not sure if that's because v2 detectors don't support it yet, or if it's something not yet available in the Terraform plugin.

If it's not a v2 detector thing, then what would be the recommended way to display units with the numbers in the det

[2019-08-05 14:26] cory-signalfx commented on #43
Hey @ejwmoreau!

This feature is missing from the API but I agree that it would be a wonderful addition. Unfortunately since this isn't a Terraform feature, this isn't the right place to get it added.

Will close this, but please ping SignalFx support with your request and they'll advise further.

Thanks!

[2019-08-05 14:26] #43 closed, assigned to nobody

[2019-08-05 16:24] cory-signalfx opened #44 "Integrations are missing an Exists function"
Oops :(

[2019-08-06 00:17] ejwmoreau commented on #43
Awesome, thanks! I'll ping SignalFx support with the suggestion :)

[2019-08-13 12:02] a-staebler commented on #44
Is this scenario possibly related? If I delete an integration via SignalFx Web UI and attempt a `terraform refresh` I get a 404 error and the refresh aborts. Same for `terraform destroy`.

[code]

[2019-08-13 14:27] cory-signalfx commented on #44
Yes! I'll get a fix for this in today.

[2019-08-13 14:27] cory-signalfx opened #49 "Add OpsGenie integration"

[2019-08-13 18:33] cory-signalfx commented on #44
Fixed in #50, #51, and #52

[2019-08-13 18:33] #44 closed, assigned to nobody

[2019-08-13 18:34] cory-signalfx commented on #28
Fixed in #48

[2019-08-13 18:34] #28 closed, assigned to nobody

[2019-08-13 19:31] doctornkz opened #55 "time_range problem"
Maybe it related with #17.
We have a terraform config like that:
[code]
I want to add custom `time_range` to chart as described in documentation here:
https://www.terraform.io/docs/providers/signalfx/r/time_chart.html

But after plan stage I receive error:
[code]
Maybe I need to use int for -2h, but documentation's examples tells opposite:
[code]

[2019-08-13 19:37] doctornkz commented on #55
Need to say dashboard time_range works fine. Only charts broken.

[2019-08-13 19:40] cory-signalfx commented on #55
Dang. The docs are wrong. This should be specified as the number of seconds. Instead of `-1h` it's '3600`.

I can adjust the docs to fix this, sorry you hit it!

Does that sound right? Wanna verify? (Yes, dashboards use a different format. Ugh)

[2019-08-13 20:02] doctornkz commented on #55
It works, Cory! Thank you so much!

[2019-08-13 20:10] #55 closed, assigned to nobody

[2019-08-15 15:08] noliva opened #57 "Terraform state is always updating on_chart_legend_dimension"
Basically, every time we run Terraform, it tries to update the same dashboards even though they already exist and are aligned because it's trying to modify a field called `on_chart_legend_dimension`

[code]

It would be nice if it only tried to update when there was a real update.

[2019-08-15 15:22] cory-signalfx commented on #57
Oh dear! Sorry you hit this and thanks for flagging, I'll investigate now so we can get it in for the release I planned tomorrow.

[2019-08-15 15:23] noliva commented on #57
Awesome, thank you very much for your help!

[2019-08-15 15:59] cory-signalfx commented on #49
Done in #54

[2019-08-15 15:59] #49 closed, assigned to nobody

[2019-08-15 16:00] cory-signalfx commented on #57
Hey @noliva, I'll go ahead and do a release of the provider now as I'm gonna be busy tomorrow and unlikely to make any other changes. Thanks again for reporting!

[2019-08-15 16:10] noliva commented on #57
Wow, that was super efficient, thank you so much for solving that issue so quickly!

[2019-08-15 16:24] cory-signalfx commented on #57
No problem, I can't promise to always be that fast. Today I was free and the fix was pretty easy! :)

[2019-08-16 04:16] MovieStoreGuy opened #59 "Unmarshal nil error within v4.6"
When reapplying an existing terraform state and (I assume) when terraform does the refresh it tries to unmarshal nil and throws an error.

I have a current work around to pin the provider to an older version for the time being.

Terraform v0.12.6
Provider verison: v4.6.0

[2019-08-16 13:43] cory-signalfx commented on #59
That's no good! Can you share the crash log or any other information? Unfortunately such a crash could be just about anywhere. :(

[2019-08-16 19:58] #59 closed, assigned to cory-signalfx

[2019-08-17 00:18] doctornkz opened #61 "EventPublishLabelOptions structure is not supported"
As example, I have a config like this:
[code]
after applying, I receive error:

[code]

I did grep all repo recursively and figured out that terraform provider doesn't process the structure, like `PublishLabelOptions`
Seems that **events** labels are not supported yet, but maybe I am doing smth wrong?

[2019-08-19 16:20] cory-signalfx commented on #61
Drat. No, you're doing nothing wrong. I didn't realize this was a different structure. In fact, I started typing a response to this saying it *was* supported then eventually realized I was missing the `Event` prefix. :(

Seems like the fix here is to add an `event_options` which is basically the same thing. Thoughts?

[2019-08-19 16:23] cory-signalfx commented on #61
nb that this is also [not documented for chart creation](https://developers.signalfx.com/charts_reference.html#operation/Create%20Single%20Chart)

[2019-08-19 18:04] cory-signalfx commented on #62
Holding on to this for some internal discussions, as there may be changes forthcoming.

[2019-08-19 20:25] cory-signalfx commented on #62
Got confirmation we're good here!

[2019-08-20 13:14] doctornkz commented on #61
Thank you! `event_options` looks like my case, I gonna test that.

[2019-08-20 18:28] doctornkz commented on #62
Please, take a look.

I create that config:
[code]
after applying I receive error:
[code]
I am using the provider from upstream, maybe it's not released yet?

[2019-08-20 19:46] cory-signalfx commented on #62
Sorry, I haven't released this yet. I generally wait for the end of the week to let bugs shake out or collect other features first. Lemme get a release ready!

[2019-08-20 19:46] #61 closed, assigned to cory-signalfx

[2019-08-20 19:54] doctornkz commented on #62
No problem, man! No sorry, dont worry. I will wait.)

[2019-08-20 19:55] cory-signalfx commented on #62
All good, I asked HashiCorp for a release so we should get one a bit later today. I'm out later this week anyway. :)

[2019-08-21 18:05] doctornkz commented on #61
Sorry me, Cory. But I faced with some syntax problem here...
In code we have totally clear proposal for using new structure:
viz_options here : https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/signalfx/resource_signalfx_time_chart.go#L393

event_options here : https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/signalfx/resource_signalfx_tim

[2019-08-21 19:47] cory-signalfx commented on #61
I can reproduce the crash, thanks for the xample case. Gonna make a new issue.

[2019-08-21 19:48] cory-signalfx opened #63 "Crash when using event_options"
@doctornkz reported [this crash](https://github.com/terraform-providers/terraform-provider-signalfx/issues/61#issuecomment-523582481)

[2019-08-21 20:59] #63 closed, assigned to cory-signalfx

[2019-08-21 21:01] cory-signalfx commented on #61
Gonna bug hashi for a release, should see it land in a few hours!

[2019-08-21 21:13] doctornkz commented on #61
What do you think about split-brain in documentation? It is nested or independent?
PS. I tested, it's working now and it's independent. Thanks, Cory

[2019-08-22 12:57] cory-signalfx commented on #61
It's independent and fixed. Thank you for flagging that. It's one of the downsides of not being able to see those docs until they hit the HashiCorp site. :(

[2019-08-28 06:26] dmason-atlassian opened #65 "No value in dashboard variables is retrieved as a list of one empty string"
If no value is specified in a dashboard variable, it's retrieved back as a list containing an empty string only. This means if you try to `terraform plan` or `terraform apply` for that resource, it will always think there is a change, even if nothing changed.

[2019-08-28 06:28] dmason-atlassian opened #66 "Floating point numbers sometimes come back with precision errors"
Sometimes the state fetched from remote will have a floating point rounding error, causing the comparison to the local copy to be mismatched, even though it's not, and thus triggers a change. I've noticed this especially on low_watermark configuration for an axis.

[2019-08-28 06:29] dmason-atlassian opened #67 "Sometimes creating a set of dashboards in a dashboard group doesn't include all dashboards as dashboard configs in the group"
Sometimes, if I create a lot of dashboards in a dashboard group in one terraform command, then despite the dashboard linking back to the group, the dashboard group itself does not contain a dashboard config for that dashboard. This means that the tab for that dashboard does not appear at the top of the screen in the UI. I'm not sure what the trigger for this is, but usually if I destroy and recrea

[2019-08-28 18:52] #65 closed, assigned to cory-signalfx

[2019-08-28 18:57] cory-signalfx commented on #67
Yeaaaaah, this is a problem wherein some parts of the SignalFx API are frustratingly eventually consistent. We've done some work to mitigate where this happens, but unfortunately the Terraform provider has no ability to fix this.

The only advice I can give (other than perhaps filing a support issue so that this can be properly prioiritized) is to run `apply` with the `--parallelism=1` flag for bi

[2019-08-28 18:59] #67 closed, assigned to nobody

[2019-09-09 16:44] kimor79 opened #72 ""one step" AWS account integration"
Currently, to add an AWS integration, one needs to use the UI to create the integration. This returns an external ID (and SignalFx account ID) which is then used in the trust policy of the IAM role and a subsequent call to the integration API. There doesn't exist a way to do this all within terraform. And if the current signalfx_aws_integration were to be able to do both calls to the API, there wo

[2019-09-10 17:10] cory-signalfx opened #73 "Heatmap color is incorrectly validated"
The heatmap `colorRange.color` is incorrectly documented as needing a named color when in fact it takes a hex color string like `#ff0000`. This change needs to be made both to docs and to validation in the heatmap resource.

[2019-09-11 00:29] MovieStoreGuy commented on #73
So interestingly enough, switching the colours to the hex code variants has caused validation errors.

[code]
with my chart defintion as:

[code]

[2019-09-12 20:18] doctornkz commented on #57
Hi! It's closed, but I am still receiving update status from atlantis (terraform manager):
[code]
I have this config:
[code]
I pretty sure we are using last terraform provider. May be I forgot something?

[2019-09-13 13:49] cory-signalfx opened #75 "Add victorops resource"
Customer requested a victorops integration resource.

[2019-09-13 13:58] cory-signalfx commented on #57
Will take a look, @doctornkz! Do you know your provider version?

[2019-09-13 14:46] cory-signalfx commented on #72
Thanks for making this, @kimor79! This is a great idea, and I appreciate you writing it up for me. I don't think I'll get to this today, but plan to get on it next week.

[2019-09-13 15:57] #73 closed, assigned to cory-signalfx

[2019-09-16 13:43] doctornkz commented on #57
Cory, seems I have bug in my config
[code]
it doesn't make any sense, right?
Documentation:

**legend_options_fields** - (Optional) List of property names and enabled flags that should be displayed in the data table for the chart, in the order provided. This option cannot be used with legend_fields_to_hide.
property The name of the property to display. Note the special values of sf_metric which sh

[2019-09-16 14:21] cory-signalfx commented on #57
The confusion is my fault, the docs are subtly wrong. Patch incoming. For now, you want to use the value `metric` instead of `sf_originatingMetric`.

[2019-09-16 14:46] #57 closed, assigned to cory-signalfx

[2019-09-16 14:51] noliva opened #78 "Terraform state is always updating"
Basically, every time we run Terraform, it tries to update the same dashboards even though they already exist and is aligned because it's trying to modify a field called `time_range = 3600 -> null`

I suppose it's similar to the previous issue I opened.

[2019-09-16 14:58] cory-signalfx commented on #78
Drat! Thanks for flagging. I'll investigate and let ya know what I find!

[2019-09-16 20:34] #75 closed, assigned to cory-signalfx

[2019-09-17 15:56] cory-signalfx commented on #78
Hey @noliva!

To be clear this is the `signalfx_dashboard` resource, right? Your example uses the second-based, integer form used for charts whereas dashboards use a string-based, "-30m" style.

I'll do some digging on my end, but I can't reproduce. Can you make sure you're using the latest provider? A new one went out today!

[2019-09-17 16:45] cory-signalfx commented on #72
Alrighty, having taken a close look at this I think this is how it can work:

* A new resource `signalfx_aws_integration_pre` which is created and stores the integration's ID. It can be deleted, but has no meaningful update operation. It also has no properties, other than the computed external id.
* Add a `signalfx_aws_integration_external` which is basically the same as the current, but it *requi

[2019-09-17 17:00] cory-signalfx commented on #72
Friends at Hashi suggested using this resource as an example: https://www.terraform.io/docs/providers/aws/r/acm_certificate_validation.html

[2019-09-17 17:13] kimor79 commented on #72
I understand why, but too bad `signalfx_aws_integration` can't be repurposed for the `_pre` resource

[2019-09-17 17:50] cory-signalfx commented on #72
It could be! I just think it would be more ergonomic for future users that there is a difference between the external id and token based versions.

[2019-09-17 18:18] kimor79 commented on #72
yeah, I like the separation between external id and token based version. Just from a naming perspective, `signalfx_aws_integration` as the actual resource would be nice:

[code]

[2019-09-17 19:22] cory-signalfx commented on #72
My current plan (only documenting the external for now) is:

[code]

With the `token` and `external_id` fields being set to `ConflictsWith`. This allows the majority of options to be documented in the familiarly named `signalfx_aws_integration`.

[2019-09-17 19:24] cory-signalfx commented on #72
And for my own reference, this source is helpful: https://github.com/terraform-providers/terraform-provider-aws/blob/3270b94571f3351e44a0f7122ae3dbf1519a63a7/aws/resource_aws_acm_certificate_validation.go

[2019-09-17 19:40] nickchappell opened #80 "`column` on dashboard resources doesn't allow mulitple columns"
I've been porting over my SFX dashboard TF code fro the Yelp provider to this official version, but am getting the following error:

[code]

The code that causes this looks like roughly like this and worked with the Yelp version of the provider (resources names are anonymized and the `chart_ids` are converted to TF v0.12-compatible syntax) :

[code]

The dashboard resource code has `MaxItems` set

[2019-09-17 19:43] cory-signalfx commented on #80
Interesting, this is not a use case I had imagined. Will get to this soon to evaluate.

The underlying difficulty is that the API has no concept of this sort of layout. The old Yelp provider did not look at the response from the API, so it didn't have to reconcile the Terraform layout with the API representation. That's a bad thing, so we fixed it. This was a casualty. More soon!

[2019-09-17 19:46] nickchappell commented on #80
@cory-signalfx FWIW, the code with the old Yelp provider did apply and lay out the dashboard with multiple columns correctly, with no shifts from run to run in the desired vs actual state. (ie. `terraform plan` output was not changing after every single `apply`)

[2019-09-17 19:50] cory-signalfx commented on #80
Correct! But it also never even looked at the API response! That's a whole different kind of problematic.

[2019-09-18 05:53] dmason-atlassian opened #82 "event_overlay has argument "source" which is a reserved keyword of terraform"
According to [Terraform's documentation](https://www.terraform.io/docs/configuration/variables.html#source) there's a list of names you can't use for arguments including "source" which is used by the event_overlay definition at [this line of code](https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/signalfx/resource_signalfx_dashboard.go#L291).

A different name should b

[2019-09-18 06:02] dmason-atlassian commented on #82
Actually this was just me not formatting the terraform file correctly, and it works if I do format it correctly.

[2019-09-18 06:02] #82 closed, assigned to nobody

[2019-09-18 14:10] noliva commented on #78
happens creating a detector:

[code]

[2019-09-18 14:44] cory-signalfx commented on #78
Excellent, thanks! I'll get on this today.

[2019-09-18 19:38] #78 closed, assigned to cory-signalfx

[2019-09-18 20:24] nickchappell opened #84 "Dashboard resource column's column value defaults to 0, causing plan churn"
`terraform plan` output for column sections of dashboards keeps saying it needs to be updated from **1** to **0**, even after a successful `apply` (IDs and names anonymized):

[code]

This happens when I specify a column value of 0 or leave it blank:

[code]

Explicitly setting it to 1 fixes the issue:

[code]

Looking at https://github.com/terraform-providers/terraform-provider-signalfx/blob/mast

[2019-09-18 20:29] cory-signalfx commented on #84
Eep! Will check it out.

[2019-09-18 21:18] #84 closed, assigned to cory-signalfx

[2019-09-18 21:20] cory-signalfx commented on #84
Fixed! This was a bug that's semi-related to #80 :(

[2019-09-19 09:34] noliva opened #86 "Issue following errors when refreshing state"
Hi Cory!

I have an issue when refreshing state:

`Error: json: cannot unmarshal number 1568826660000 into Go struct field Time.end of type int32`

The problem is I can't find where the error happens easily, is there a way to find out why suddenly my state is corrupted?

If there was a way to find to which detector/dashboard it points, I could delete and recreate it, but now I need to do this manu

[2019-09-19 14:22] cory-signalfx commented on #86
Eep!

That's alarming. I'll have to double check the various spots this is defined. Maybe the original OpenAPI spec I used has an error on this data type and uses an int32 when it should be an int64.

You can use `terraform show` to dump the state of your directory. There is also a `-json` flag so you can use it with something like `jq` and grab every `end`. Gimme a sec and I'll whip up something

[2019-09-19 16:18] cory-signalfx commented on #86
This might help you track it down:

```terraform show -json | jq '.values.root_module.resources[] | "\(.address) \(.values.end_time)"'```

[2019-09-19 16:27] noliva commented on #86
Ok, thanks, as we only faced this in a staging environment, I deleted the .tfstate manually (and the resources) and recreated it, not sure how it got into that state as when recreating it, it worked fine.

Still, thank you very much for your quick response and for adding it here, if it happens again I know how to track it now 😄

[2019-09-19 16:29] cory-signalfx commented on #86
No problem. This is likely a bug and I will still get a fix in for it. I think this needs to be an int64 for sure. Just trying to prove it!

[2019-09-19 19:02] #86 closed, assigned to cory-signalfx

[2019-09-19 19:03] cory-signalfx commented on #86
Fix applied!

[2019-09-19 21:30] cory-signalfx commented on #72
Merged!

[2019-09-19 21:30] #72 closed, assigned to cory-signalfx

[2019-09-19 21:31] cory-signalfx commented on #80
I've been thinking about this while working down some other bugs and I think I know how to do it now. I will experiment some tomorrow.

[2019-09-20 14:07] cory-signalfx opened #88 "Heatmap colors are incomplete"
The heatmap chart resource is missing `color_by` and doesn't honor `color_scale` despite it being in the schema. None of the above are documented either!

[2019-09-23 05:51] ejwmoreau opened #90 "Terraform Crash on adding `show_data_markers` to SignalFx Detector"
Terraform Version: 0.12.7
SignalFx Provider Version: 4.6.3

Note: I've substituted most of the content that I think is irrelevant. Let me know if you'd like more content from the detector :)

When we try to add the `show_data_markers = true` option to an existing detector, we get this Terraform crash. It seems like `show_data_markers = true` does get applied to the detector, but this crash is stil

[2019-09-23 06:43] joshuaspence commented on #90
I think it was caused by https://github.com/signalfx/signalfx-go/commit/311c2130f01ed5ab45ca4e1670a9a95a172a0994, in which case the fix might be to add an additional guard condition [here](https://github.com/terraform-providers/terraform-provider-signalfx/blob/v4.7.0/signalfx/resource_signalfx_detector.go#L416).

[2019-09-23 14:25] cory-signalfx commented on #90
Any chance you can snag the `crash.log` it spit out?

I don't see anything obvious to protect against for guard conditions, @joshuaspence. Which property are you suggesting?

Also there's been at least one crashing fix since 4.6.3. so upgrading may help you as well. Locally just changing the `show_data_markers` isn't causing this for me. If it applied the change but crashed, it's likely it's somet

[2019-09-23 14:27] cory-signalfx commented on #90
Oh, i see it @joshuaspence. You're referring to the `Time`. Lemme try and repro that!

[2019-09-23 14:38] #90 closed, assigned to nobody

[2019-09-24 23:59] ejwmoreau commented on #90
Thanks! :D I'll include the crash.log file next time I report another crash :)

[2019-09-27 19:36] doctornkz opened #95 "Import with terraform gives JS error"
I have configuration like this:
[code]
It applied to SFX API without any errors, but I receive empty dashboard without my chart.
In JS console I can see this error:
[code]
If I open the JSON file from API with broken dashboards I can see something too long:
[code]
Sometimes it is negative, and it means we have incorrect integer type here.
I don't know how can I change parameters to make it work, a

[2019-09-27 20:02] doctornkz commented on #95
Definitely it's not connected with range. I change `heatmap` to `time`  and it works. I think `heatmap` API was changed. Maybe we have must-have parameter for `heatmap` now?

[2019-09-27 20:14] doctornkz commented on #95
Yes, now colors it's required option for `heatmap`, this config works ok:
[code]
OMG. Maybe it possible to document it somehow or improve API response if I POST incorrect data. I don't know.

[2019-09-27 21:12] doctornkz commented on #95
Documentation says https://www.terraform.io/docs/providers/signalfx/r/heatmap_chart.html#color_range

**color_range** - (Optional. Conflicts with color_scale) Values and color for the color range. Example:
  color_range : { min : 0, max : 100, color : "#0000ff" }. Look at this link.
  min_value - (Optional) The minimum value within the coloring range.
  max_value - (Optional) The maximum value wit

[2019-09-30 14:03] cory-signalfx commented on #95
Hey @doctornkz,

I'm not sure I follow the issue you're having now. It looks like in your initial comments you had a heatmap with no color options that generated errors. After reopening, I'm not sure if you're talking about something new or just referring to the old error.

For now I will try and repro the initial error (a heatmap chat with no color being bad) and see what I get!

[2019-09-30 14:11] doctornkz commented on #95
Sorry, team, I was a bit upset at Friday night with awesome reverse engineering. I can create other issue to separate the problem.

[2019-09-30 14:12] cory-signalfx commented on #95
No worries! Bugs are frustrating! 🐛

[2019-09-30 14:14] cory-signalfx commented on #95
For what it's worth I have reproduced the error you initially mentioned!

[2019-09-30 14:23] doctornkz commented on #95
Just to resume:
- Documentation is not clear around color_range and color_scale
- API doesn't show errors if you pass wrong `heatmap` configuration

[2019-09-30 14:46] cory-signalfx commented on #95
Ok! PR mentioned above that corrects the failure to detect a missing color config. Can you give me an idea of how to improve the docs? (I added them to the example, for one thing!)

[2019-09-30 15:01] doctornkz commented on #95
It's a pleasure to work with you, Cory. Thanks a lot!
About documentation : If I understood you clear - we can use only one type of `heatmap` coloring - range or scale. And we MUST use at least one of them. Right?

[2019-09-30 15:04] doctornkz commented on #95
My approach - https://github.com/doctornkz/terraform-provider-signalfx/blob/master/website/docs/r/heatmap_chart.html.markdown
But I am not satisfied, it's terrific example how to disappoint the developer.

[2019-09-30 15:32] cory-signalfx commented on #95
Likewise, @doctornkz! No problem!

Amusingly I changed my patch just a bit before reading yours and we landed at the same conclusion. [Here is my diff](https://github.com/terraform-providers/terraform-provider-signalfx/pull/96/files?file-filters%5B%5D=.go&file-filters%5B%5D=.md#).

This definitely solves the first problem (bad API + error) and helps the developer if they are reading. I'll merge th

[2019-09-30 16:28] #95 closed, assigned to cory-signalfx

[2019-09-30 21:04] doctornkz commented on #95
Thank you, Cory! Now I am happy )

[2019-10-03 19:05] nickchappell opened #97 "Can't use more than 2 color_scales"
* Affected version: 4.8.3

I tried adding some color scales to a single value chart resource with three different levels, green at or above 99.95, yellow from 99.5 thru 99.95 and red below 99.5. TF code below:

[code]

I get the following error:

[code]

Trying different combos of gt, gte and lt/lte give the same result.

Side note: Keeping the `color_scale`s above but with `color_by` set to somet

[2019-10-03 19:14] nickchappell commented on #80
@cory-signalfx Any updates?

[2019-10-04 14:52] cdhunt opened #98 "400 error: Failed to deserialize payload"
I'm trying to use https://github.com/signalfx/terraform-signalfx-slx and I get 3 of these errors.

One for each:
- slx_success_ratio_slo_detector
- slx_operation_duration_slo_detector
- slx_error_budget_detector

It looks like it's related to assigning a team to a detector. The team exists.

[code]

Versions:
[code]

[2019-10-04 15:13] cdhunt commented on #98
This appears to be an issue with the module, not the provider.

https://github.com/signalfx/terraform-signalfx-slx/issues/1

[2019-10-04 15:13] #98 closed, assigned to nobody

[2019-10-07 12:52] doctornkz commented on #97
You should use the structure like that:
[code]
and yes, you have non-strong situation after 99.95 - because first and the second statements are working together. you should pass `lt=99.95` into second one.

[2019-10-07 16:30] cory-signalfx commented on #97
Hey @nickchappell!

@doctornkz suggestion looks correct to me. Let us know if that helps?

Your suggestion about `color_by` is great. I will leave this open to add that too!

[2019-10-07 16:59] cory-signalfx commented on #80
Nope, none yet. I do think this can be done, so I'll dump the ideas here for others. This is currently fairly low priority for me, but I may delegate to a teammate who's spinning up.

Because we can inspect the original schema/state of the dashboard we can iterate through each chart and check if it's entered into the column or if it stood alone. In effect, we'd use the original state as the source

[2019-10-07 18:59] #97 closed, assigned to nobody

[2019-10-07 19:19] nickchappell commented on #97
@cory-signalfx @doctornkz's suggestion doesn't work. The range errors are gone, but now, I get:

[code]
If I go back to the multiple `color_scale {}` blocks like I had, but with the extra `gte/lte` range specs, it does work.

Working code:

[code]

[2019-10-07 19:24] doctornkz commented on #97
Hm! Thank you, Nick, I will check my configs now. Something was changed. But I happy to see your range fix working.

[2019-10-07 19:25] cory-signalfx commented on #97
That is expected behavior, @nickchappell. @doctornkz is using Terraform 0.11 syntax and you are using 0.12!

[2019-10-09 18:04] cory-signalfx commented on #5
Also cc @keitwb

[2019-10-15 05:28] tur-nr opened #101 "`grid` on dashboard resources doesn't allow multiple grids"
We are trying to upgrade the provider to version 4 but all of our grids have broken 😢

[code]

What is the reason behind a single grid? As before this worked in version 3.

Related to #80

[2019-10-15 14:25] cory-signalfx commented on #101
Hello @tur-nr. There's a reason, but it's not very interesting and doesn't do anything to fix your problems.

As I said in #80, I think I can fix this up. Thanks for the test case. I'll set it up locally and see what I can do.

[2019-10-15 16:09] #80 closed, assigned to cory-signalfx

[2019-10-17 20:46] nickchappell opened #103 "Improve documentation on Slack integration setup?"
I set up a new Slack integration via the SFX/Slack web UIs recently. I wanted to port it over to TF code, however, the Slack UI doesn't show any webhook URL for the SFX integration, and an existing SFX integration doesn't show what webhook URL, if any, it's using via the SFX web UI.

Could the Slack integration resource's documentation be updated on what/how the integration needs to be set up on t

[2019-10-18 15:06] cory-signalfx commented on #103
Thanks @nickchappell! We'll take a look at this internally and see what we can do.

[2019-10-18 15:11] nickchappell commented on #9
As an interim step, could the `signalfx_team` resource be modified so it can have a list of (already created) user IDs added? Right now, I can't manage my SFX teams via TF, since TF always wants to delete any members added via the UI after the team is created via TF.

[2019-10-18 15:14] cory-signalfx commented on #9
Ugh, @nickchappell I'm sorry. You _can_ do this today it's just completely undocumented! Lemme make a PR right now for that. In the meantime, you can use `members = [ "abc123", "abc124", … ]`.

[2019-10-18 15:28] cory-signalfx commented on #9
In master now, will get a build out today.

[2019-10-22 09:30] SansGuidon opened #104 "Improve documentation on Slack notifications"
Examples from https://www.terraform.io/docs/providers/signalfx/r/detector.html shows channel name starting with `#` while `terraform plan` / `terraform apply` prohibit it.

[code]

The related code in our `main.tf` :
`    notifications = ["Email,custom.mail@customdomain.com", "Slack,credentialId,#notifications-test"]`

It works perfectly after removing the `#`

Note that on SignalFX UI, when confi

[2019-10-22 09:33] SansGuidon opened #105 "Add support for Jira notifications"
This is the error returned by `terraform plan` after configuring a Jira notification via the UI.

`Error: Unknown notification type Jira`

**Versions :**
[code]

[2019-10-25 17:37] cory-signalfx commented on #104
Hey @MorganGeek,

You're absolutely right, this needs a fix. Will do today!

[2019-10-25 17:52] cory-signalfx commented on #104
I've merged this and asked for a push to the terraform.io site. Thanks again for the heads up @MorganGeek!

[2019-10-25 17:52] #104 closed, assigned to cory-signalfx

[2019-10-25 20:37] SansGuidon commented on #104
Thank you @cory-signalfx

[2019-10-30 08:59] SansGuidon commented on #105
@cory-signalfx is there any intent to work on this soon or should I better start working on this as I need it ?

[2019-10-30 16:14] cory-signalfx commented on #105
Sorry, I missed this during travel last week. I'll get this out today!

[2019-10-30 16:15] SansGuidon commented on #105
@cory-signalfx thank you a lot :)

[2019-10-30 19:53] cory-signalfx commented on #101
Oops, this was closed in #102!

[2019-10-30 19:53] #101 closed, assigned to nobody

[2019-10-30 19:53] cory-signalfx commented on #88
This was completed in #89

[2019-10-30 19:53] #88 closed, assigned to cory-signalfx

[2019-11-05 15:43] cory-signalfx commented on #105
Oops, got this in #106!

[2019-11-05 15:43] #105 closed, assigned to cory-signalfx

[2019-11-05 15:43] cory-signalfx opened #107 "Allow dashboard permission management"
The dashboard resource does not allow modifying the `authorizedWriters`!

[2019-11-05 15:44] cory-signalfx opened #108 "Add resource for muting rules"
There's currently no way to manage muting rules, we should add this!

[2019-11-05 17:03] geoffhigginbottom commented on #108
My use case for this is that when a new set of infra is deployed into an environment it can cause an alert storm as things come on line and settle.  The ask is to be able to temporarily mute detectors for the new infra for a defined period of time, to allow it to settle before then re-enabling them.

[2019-11-05 17:07] geoffhigginbottom commented on #107
It is currently not possible to modify the permissions of Dashboards or Dashboard Groups.  If a Terraform deployed Dashboard has its permissions modified by a user, it effectively breaks the Terraform Integration.  We need to be able to set the permissions when creating new Dashboards, but also update the configuration of existing dashboards if a user has changed them post deployment.  This will e

[2019-11-08 19:18] ysgard opened #111 "Can't set up external integration: "Unrecognized service response""
I'm trying to set up a an integration with our AWS accounts using Terraform, but I've run into an issue and I'm not certain what it means:

The integration is set up like so:
[code]

When I run this, I get:

[code]

I am an administrator and I'm using a new API access token created through my profile.  I've created this integration manually without trouble.

[code]

[2019-11-08 19:33] ysgard commented on #111
For authentication I have this:
[code]
and then did `export SFX_AUTH_TOKEN=<snip>` in the shell before running the terraform apply.

[2019-11-08 19:43] cory-signalfx commented on #111
Hey @ysgard. This looks to be an error that our API is returning as it attempts to communicate with AWS. At least that's what I glean from a bit of local testing. It may take me a while to fully repro, but thanks for the thorough test case!

[2019-11-08 20:00] ysgard commented on #111
Happy to oblige, if you need any more information let me know.  Regarding AWS, we use roles to authenticate terraform to the subaccounts.  I don't know if it's relevant, but I'll include the config:
`~/.aws/credentials`
[code]
and then in the terraform config:
[code]
The role has has AWS admin permissions.

[2019-11-08 20:22] cory-signalfx commented on #111
Ok, I am able to reproduce locally. Doing some digging now!

[2019-11-08 22:06] cory-signalfx commented on #111
This error has been reported to us in the past outside of Terraform, so it seems to be a known thing. Nobody is really sure what it is so this may take me a while to figure out. It's likely I won't have another update until Monday.

[2019-11-08 22:29] cory-signalfx commented on #111
Hey @ysgard, I think i found it. In the `signalfx_aws_integration.aws_change` you need to change your `role_arn` to `aws_iam_role.signalfx.arn`. Note the trailing `.arn` instead of `.id`. The ID returns the `name`. This is basically AWS telling us that the ARN does not exist.

Lemme know if that works for you?

[2019-11-11 15:39] cory-signalfx commented on #111
Checking in again @ysgard!

[2019-11-11 15:40] #108 closed, assigned to nobody

[2019-11-11 15:40] #107 closed, assigned to nobody

[2019-11-12 16:28] ysgard commented on #111
Thanks for looking into this! I applied the change you suggested and it worked 😄

I would suggest fixing the documentation here, which led me astray:

https://www.terraform.io/docs/providers/signalfx/r/aws_integration.html

[2019-11-14 19:43] #111 closed, assigned to cory-signalfx

[2019-11-14 20:08] funnybirdman opened #112 "Subscription Validated by Service Schema"
https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/signalfx/resource_signalfx_azure_integration.go#L66

The service schema is being used to validate subscription. The examples show passing services names in, instead of subscription ids.

Error
[code]

[2019-11-14 20:58] cory-signalfx commented on #112
Thanks @funnybirdman, on it!

[2019-11-14 21:20] #112 closed, assigned to cory-signalfx

[2019-11-26 21:55] DethAriel opened #116 "Panic (and subsequent terraform crash) due to nil pointer dereference"
Hi folks! I've recently run into this issue during `terraform apply` with existing state. The version of terraform I'm running is `0.12.13`, and the `terraform-provider-signalfx` is of version `4.9.2`.

I'd be happy to provide additional information, but was hoping that the trace might be sufficient already :)

[code]

[2019-12-03 20:00] DethAriel commented on #116
Hey folks! Is anyone looking into this by any chance? Is there any additional information that I could provide that will facilitate the triaging process?

[2019-12-03 20:22] cory-signalfx commented on #116
Hey Ruslan!

Sorry for the delay, I somehow missed this in the rush of conferences lately. I’ll get to this tomorrow for sure!

--- Cory Watson Technical Evangelist Splunk
On Dec 3, 2019, 2:00 PM -0600, Ruslan Arkhipau <notifications@github.com>, wrote:

[2019-12-04 00:52] sarneaud opened #118 "Getting AWS account ID for integration"
Thanks for the provider.  I'm using it to connect SignalFX to an AWS account.

An AWS integration using roles needs a bare minimum of three resources:

* A `signalfx_aws_external_integration`
* An `aws_iam_role`
* A `signalfx_aws_integration`

Trouble is, `signalfx_aws_integration` depends on the AWS IAM role, but the IAM role needs to be set up with an assume-role policy that allows access from t

[2019-12-04 15:47] cory-signalfx commented on #118
Hey @sarneaud, thanks for filing this. Another user mentioned this to me in a VC call the other day, so I'll be taking a look.

[2019-12-04 17:10] cory-signalfx commented on #118
Ok, I did some sleuthing and this is **not** a value that is returned when the provider makes the initial integration creation call. This is a set of values that are configured for SignalFx's various realms and I have no access to it from the provider.

I could hardcode the values or add them to docs, but for now I think the best is to leave the documentation as is that asks users to ask support f

[2019-12-04 17:10] #118 closed, assigned to cory-signalfx

[2019-12-04 17:59] cory-signalfx commented on #116
Hey @DethAriel! I've asked Hashi for a build of the provider that includes the fix in #120. Thanks for flagging this and sorry you hit it!

[2019-12-04 17:59] #116 closed, assigned to cory-signalfx

[2019-12-04 19:37] DethAriel commented on #116
Thank you so much for such a quick fix! I see that this is now in `4.10.2 (Unreleased)`, is there any ETA on when is this going to be released?

[2019-12-04 19:42] cory-signalfx commented on #116
I've asked Hashi and they are working on it now. Should be in a few hours at the latest.

[2019-12-04 20:17] cory-signalfx commented on #116
The build finished, so it should be available soon if not already available!

[2019-12-06 01:02] DethAriel commented on #116
worked like a charm, thanks a lot @cory-signalfx!

[2019-12-06 01:02] MovieStoreGuy opened #121 "Mirroring dashboards within HCL cause dashboards to be deleted"
Using provider version: 4.9.1

The issue is when I have a dashboards configured as part of my HCL, then once you have added a link to a mirrored dashboard, the original configured dashboards are removed from SignalFx.

Note: Currently working as a proxy portraying this issue.

[2019-12-06 03:06] mattthebig commented on #66
I'm also getting this problem, I never have a clean plan after applying, horrible for the developer workflow. @cory-signalfx Any progress on getting that PR merged?

[2019-12-06 14:15] cory-signalfx commented on #66
Hey @mattthebig, I'm sorry to hear this is interfering with your work. I've not merged this PR mostly because I can't reproduce it and I'm leery of making such a change that isn't reproducible.

I've rebased the PR, could you or @dmason-atlassian perchance try this branch out with the places you are seeing this and report back?

[2019-12-06 14:29] cory-signalfx commented on #121
Hello @MovieStoreGuy!

I've set up a local version of this to try and replicate and need a bit more information. Here's my test case:

[code]

This makes a group A with a dashboard B, then a group C that mirrors dashboard B.

On my end this creates correctly and subsequent `terraform plan`s are stable. I'm using Terraform 0.12.17 and provider version 4.10.2. Let me know if I need to test an older

[2019-12-09 17:01] cory-signalfx opened #122 "Using slashes and other "URL" characters in org tokens causes unclean plans"
It was reported that using slashes and such in org token operators causes unclean plans. This is because they should be URL encoded and they are not!

[2019-12-09 19:10] cory-signalfx commented on #122
Fixed in #123

[2019-12-09 19:10] #122 closed, assigned to nobody

[2019-12-10 22:51] matfra opened #124 "Add support for tags in detectors"
Tags can be pretty useful to search and organize detectors. In Signalform we support them:
https://github.com/Yelp/terraform-provider-signalform/blob/master/src/terraform-provider-signalform/signalform/detector.go#L89

This is one of the only issues that we've spotted to prevent us to start migrating from signalform to signalfx provider

[2019-12-10 23:07] cory-signalfx commented on #124
Hey there @matfra, thanks for the note!

Unfortunately this is problematic for the provider because the SignalFx API for tags is not synchronous with the request. This causes unclean plans when the provider tries to verify the response.

This worked in SignalForm because SignalForm does *not* check the response. Because checking the response is a requirement for being an official Terraform provide

[2019-12-10 23:08] #124 closed, assigned to cory-signalfx

[2019-12-11 01:06] matfra commented on #124
Thanks for the explanation @cory-signalfx !

[2019-12-13 00:43] MovieStoreGuy commented on #121
Hey @cory-signalfx ,

I can't get the user that had reported this to me to be able to reproduce.

I am going to close this off and reopen it once I have something concrete.

[2019-12-13 00:43] #121 closed, assigned to cory-signalfx

[2019-12-13 14:05] cory-signalfx commented on #121
Sure thing, @MovieStoreGuy. Shoot me a note if you see it again!

[2019-12-16 19:59] saikrishna547 opened #126 "It would be nice if we have terraform for datalinks"
We have automated the dashboards in our organization but the most important missing part is automating the creation of datalinks. It would be nice if we have that feature in terraform

[2019-12-16 20:06] cory-signalfx commented on #126
You're in luck @saikrishna547, please see #125 where this is in progress. I expect to merge it in the next few days.

[2019-12-16 20:46] saikrishna547 commented on #126
Sounds great!

[2019-12-16 20:50] saikrishna547 opened #127 "Ordering the dashboards with the dashboard-group"
What we have is ordering the charts within the dashboard but not the dashboards when we do a terraform apply they are order randomly. So, It will be great if we can order those dashboards like overview first then followed by other dashboards that would be the best that everyone wants but its harder to swap once its built everytime.

[2019-12-17 00:35] shwin opened #128 "Can't use credentialId in Webhook notifications for Detector rules"
I'd like to use a webhook notification in a signalFX detector, but only provide the `credentialId`.

The official API doc  (https://developers.signalfx.com/detectors_reference.html#operation/Create%20Single%20Detector, expand rules and notifications and click on webhook) says this is possible:
![image](https://user-images.githubusercontent.com/1700973/70954374-cb987f80-2021-11ea-8b91-46090aaa7371.

[2019-12-17 00:38] shwin commented on #128
I figure this is just a bug in this logic: https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/signalfx/notifications.go#L205

[code]

We should probably not require 4 parts if they provide `credentialId`, since the rest of the parts are ignored if you do.

[2019-12-17 16:06] cory-signalfx commented on #128
Hey @shwin! Could you look over #129 and pass along any feedback?

[2019-12-17 16:23] cory-signalfx commented on #127
Hello @saikrishna547,

Unfortunately this isn't possible with current API limitations. The dashboards are created in parallel, which means they will be added to the group in whatever order they are invoked. This not only results in an undefined order, but also occasional race conditions.

The fix for now is to run terraform with `-parallelism=1` when creating a dashboard group. This should result

[2019-12-17 16:23] #127 closed, assigned to cory-signalfx

[2019-12-17 19:37] cory-signalfx commented on #128
Closing this as I plan to ship a new provider today with #129 in it!

[2019-12-18 15:57] cory-signalfx commented on #126
Merged, should be released later today. Thanks for the ask!

[2019-12-18 15:57] #126 closed, assigned to cory-signalfx

[2019-12-18 15:57] cory-signalfx commented on #128
Should go out today!

[2019-12-18 15:57] #128 closed, assigned to cory-signalfx

[2019-12-18 18:35] saikrishna547 commented on #126
so the documentation for that will be available at that time or is that released? Because I don't see it

[2019-12-19 15:20] cory-signalfx commented on #126
Yes, the documentation is updated when the folks at HashiCorp make an official build. Seems nobody picked up my ask for a build yesterday so I've reasked just now. Expecting it will be available in a few hours.

[2019-12-19 19:37] nickchappell opened #132 "Typos in AWS integration docs"
`website/docs/r/aws_token_integration.html.markdown`, line 26 and `website/docs/r/aws_integration.html.markdown`, line 27, are missing the words that `website/docs/r/aws_external_integration.html.markdown`, line 27 has to complete the sentence in the comments.

[2019-12-19 19:53] cory-signalfx commented on #132
Thanks, and done! Fixes will be out soon, once Hashi builds someone's provider. :)

[2019-12-19 19:53] #132 closed, assigned to cory-signalfx

[2019-12-21 00:32] DethAriel opened #135 "Is it possible to link a detector to a chart?"
Hey, and thank you a lot for the provider!

I was wondering if it is currently possible to link a signalfx chart to a detector? I looked through the docs for both `signalfx_detector` and `signalfx_time_chart`, and wasn't able to find any linking possible between them.

Would be nice to have that feature, cause SignalFX adds a good-looking green border around charts that have associated detectors :

[2020-01-06 14:43] cory-signalfx commented on #135
Hey there @DethAriel! You've probably seen the [Linking Detectors to Charts](https://docs.signalfx.com/en/latest/charts/linking-detectors.html) documentation. This clearly leaves you with questions like this one, since there's no signaling how to do this without the UI!

Luckily I can help, this feature is enabled via the SignalFlow function `alerts`. Here's an example:
[code]

Hope that helps!

[2020-01-06 14:43] #135 closed, assigned to nobody

[2020-01-22 22:35] saikrishna547 commented on #126
`resource "signalfx_data_link" "mydatalink_overview" {
        dashboard_id = "${signalfx_dashboard.overview.id}"
    property_name = "AWSUniqueId"

target_signalfx_dashboard {
      is_default = true
      name = "Overview AWS_UniqueID data link to host dashboard"
            dashboard_group_id = "${signalfx_dashboard_group.mdcat_dashboard_group.id}"
            dashboard_id = "${signalfx_dashboa

[2020-01-22 23:00] cory-signalfx commented on #126
I just sent [a commit to fix this](https://github.com/terraform-providers/terraform-provider-signalfx/commit/f704bcb7761e1ad3d5d6478986a40032bae25c7c)!

[2020-01-22 23:00] cory-signalfx commented on #126
So, in short you'd want to use `context_dashboard_id`. :)

[2020-01-29 14:43] cory-signalfx opened #142 "Time charts are not validating on_chart_legend_dimension"
The `on_chart_legend_dimension` is not being validated, which is causing stale plans to occur. The config specifies `"sf_metric"` which is valid, but the provider converts that to `"metric"` on responses.

[2020-02-06 18:41] bhelemilan opened #146 "Can not create SignalFx Detector Resource"
Error: rpc error: code = Canceled desc = context canceled

Error: rpc error: code = Unavailable desc = transport is closing

panic: runtime error: invalid memory address or nil pointer dereference
2020-02-06T13:06:28.692-0500 [DEBUG] plugin.terraform-provider-signalfx_v4.0.0_x4: [signal SIGSEGV: segmentation violation code=0x1 addr=0x4 pc=0x1a13195]
2020-02-06T13:06:28.692-0500 [DEBUG] plugin.terr

[2020-02-12 15:39] bhelemilan commented on #146
Looks like some of the detectors were created even when terraform reported crash. I see the detectors created in SignalFx Detectors Dashboard.

[2020-02-12 16:34] cory-signalfx commented on #146
Hey @bhelemilan, sorry I missed this. Thanks for the dump.

From this looks of this trace, that bug was fixed in [version 4.8.1](https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/CHANGELOG.md#481-september-23-2019) and you look to be using 4.0.0. If you upgrade to the latest, this should get cleared up!

[2020-02-14 21:54] bhelemilan commented on #146
Thanks, able to create with new version.

[2020-02-14 21:54] #146 closed, assigned to cory-signalfx

[2020-02-21 01:04] saikrishna547 opened #148 "Error when we try to change the resource name or even when trying to delete the resource (when commented the resource part)"
Hi @cory-signalfx,  Lets say if we have a resource with following name

resource "signalfx_dashboard" "ec2_1" {
  name              = "EC2 Instance"
  dashboard_group   = "${signalfx_dashboard_group.mdcat_dashboard_group.id}"
   charts_resolution = "default"
   time_range        = "-1h"

   chart {
     chart_id = signalfx_single_value_chart.ec2_instance_cpu.id
     row      = 0
     column   = 0

[2020-02-21 01:20] saikrishna547 commented on #126
Hello @cory-signalfx , My dashboard has complete unique properties but it's throwing me an error like this. All the datalinks within that dashboard is unique.

Error: Bad status 400: {
  "code" : 400,
  "message" : "Cannot create multiple cross links for the same property value combination"
}

  on datalinks.tf line 159, in resource "signalfx_data_link" "mydatalink_ec2_instances_2":
 159: resource

[2020-02-21 01:52] kpainter-atl opened #149 "signalfx_data_link does not support Epoch (seconds) time format"
In the SignalFX UI you can choose between either epoch seconds or milliseconds as your time format, however the provider only accepts `ISO8601` and `Epoch` which defaults to milliseconds.
<img width="429" alt="Screen Shot 2020-02-21 at 12 51 21 pm" src="https://user-images.githubusercontent.com/52432058/74996946-0b0f9c00-54a9-11ea-8993-debe9bce18d5.png">

[2020-02-21 18:49] saikrishna547 opened #150 "Couple issues with the terraform data_links( couldn't get the property name in the UI ) after successful plan and apply."
Could get the property name in the UI for the below code or for any of the code, It could get the property value even showing us in the terraform plan and also apply.

resource "signalfx_data_link" "mydatalink_overview_1" {
  context_dashboard_id = "${signalfx_dashboard.overview.id}"
  property_name = "AWSUniqueId"
  target_signalfx_dashboard {
    is_default = true
    name = "Overview awsuniquei

[2020-02-21 18:59] saikrishna547 opened #151 "Error when creating couple data_links through terraform for a same dashboard_id and same context_dashboard_id with the different property_name ( which is not expected behavior )"
Why can't we create 2 data_links with the different property_name and having same context_dashboard_id and dashboard_id(target dashboard) saying "Cannot create multiple cross links for the same property value combination" ( which is not the expected behavior )

Code 1)

[code]
Code 2)
[code]

These things can be created in UI manually, but not in terraform ( which is not right for anyone, we can h

[2020-02-22 08:00] kateetak opened #152 "chart_id in the documentation for the dashboard definition"
**Summary**
The https://www.terraform.io/docs/providers/signalfx/r/dashboard.html documentation provides the following example when referincing a `chart_id`:
`chart_id = "${signalfx_time_chart.mychart0.id}"`

However, when using the `Terraform v0.12.21` and the `provider.signalfx v4.13.0`, a "deprecated warning" is returned when running a `terraform plan` or `terraform apply`.

**Expected Results*

[2020-02-22 08:02] kateetak commented on #152
Happy to fix it myself, but I wanted to be sure my understanding was correct and we are happy to change the doc at this stage.

There are probably more cases where this could be improved but I was testing this specific one today.

[2020-02-25 15:16] cory-signalfx commented on #148
Hey @saikrishna547! I'm not sure I understand how to look into this because you've only provided part of the problem. I'd need to see the definition of the chart and understand more about the steps you're taking, as the title implies there's some sort of deletion, rename, and modification going on here. Can you give me some more information?

[2020-02-25 15:25] cory-signalfx commented on #152
Hey @kateetak! As the warning tells us, this is till valid syntax in versions of Terraform < 0.12. There are still a number of folks who use this version, so this isn't really a bug. But we may as well update them, so I've done so in #153. Thanks for flagging!

[2020-02-25 15:25] #152 closed, assigned to nobody

[2020-02-25 15:35] cory-signalfx commented on #151
Hey @saikrishna547, this doesn't look like a problem within Terraform to me, as I'm able to create data links using your provided examples (i.e. two links with the same targets, but different property names). I also double checked the API code that verifies and agree that it does work!

I suspect you've either got another definition elsewhere in your Terraform or someone has created a data link in

[2020-02-25 15:35] #151 closed, assigned to nobody

[2020-02-25 15:42] cory-signalfx commented on #150
Hrm, something is definitely fishy here. I'm investigating now!

[2020-02-25 15:44] ghost commented on #150
@cory-signalfx I'm already working on this one that came in internally.

[2020-02-25 15:49] cory-signalfx commented on #151
This is (perhaps confusingly) a dupe of #150

I believe this was a bug wherein the property name wasn't be set!

[2020-02-25 16:02] #142 closed, assigned to nobody

[2020-02-25 17:39] cory-signalfx commented on #149
Thanks for flagging @kpainter-atl. I'm waiting on some other PRs, but will get a release out as soon as I can!

[2020-02-25 17:40] xp-1000 opened #157 "[New Feature] New resource signalfx_webhook_integration"
Hello,

Could be cool to be able to configure the generic webhook integration with terraform.

[2020-02-25 18:12] saikrishna547 commented on #148
We weren't able to see the resource being destroyed when we change the name of the resource( is should say 1 to add and 1 to destroy, but that's not happening here )

[2020-02-25 18:40] #150 closed, assigned to cory-signalfx

[2020-02-26 07:27] kateetak commented on #152
Thanks @cory-signalfx !

[2020-02-26 15:18] cory-signalfx commented on #148
The management of what to create, update, and remove is a Terraform function, not one of the provider. Also, to follow the steps here I need to see each one. In other words:

* The terraform definitions to start
* The changes you hope to apply

Seeing only the final state doesn't allow me to reproduce the steps. :(

[2020-02-26 16:51] cory-signalfx commented on #157
Done in #158 and should be available for you later today when hashi does a build. Thanks for the ping!

[2020-02-26 16:51] #157 closed, assigned to cory-signalfx

[2020-02-26 20:22] saikrishna547 commented on #148
<img width="622" alt="Screen Shot 2020-02-26 at 12 17 38 PM" src="https://user-images.githubusercontent.com/44275490/75384213-923a8680-5892-11ea-89a6-87c2f18c8b08.png">
<img width="691" alt="Screen Shot 2020-02-26 at 12 17 51 PM" src="https://user-images.githubusercontent.com/44275490/75384218-949ce080-5892-11ea-8665-611bb08579b3.png">
<img width="713" alt="Screen Shot 2020-02-26 at 12 19 27 PM" s

[2020-02-26 22:46] cory-signalfx commented on #148
Can you provide the Terraform source for the dashboard? I'm curious about the order of operations here.

I've verified locally that renaming a resource – i.e. changing:
[code]
to:
[code]
does what we expect. Namely:
[code]

If you can provide me the Terraform source files for each of these steps I can reproduce locally. Also, what versions of Terraform and the SignalFx provider are you using?

[2020-02-27 13:06] xp-1000 commented on #157
Hello @cory-signalfx
you are awesomely fast ! thanks for that
https://github.com/terraform-providers/terraform-provider-signalfx/pull/159

[2020-03-02 02:47] saikrishna547 commented on #150
Hi Looks like I am still facing this issue, Is this resolved? can you cross-check?

[2020-03-02 15:03] cory-signalfx commented on #150
Hey @saikrishna547, if you update to the latest version of the provider this should be fixed. If not, please let us know!

[2020-03-02 15:42] cory-signalfx commented on #149
This should be out in the world now!

[2020-03-02 15:42] #149 closed, assigned to cory-signalfx

[2020-03-02 16:01] cory-signalfx opened #160 "Fix required AWS filter options"
As far as the docs go the `namespace` should be the only thing we need.

[2020-03-02 16:51] wellcast commented on #148
Hello there,
I got this problem even without renaming a dashboard but by removing a given chart and adding another.

`Error: Unexpected status code: 400: {
  "code" : 400,
  "message" : "Could not find chart ERXJol3AAAA when validating the dashboard."
}`

I can fetch and delete that chart via API and it will be recreated when run Terraform apply.

The dashboard creation doesn't complete anyways.

[2020-03-02 17:00] cory-signalfx commented on #148
Thanks for reporting @wellcast. I'll try and reproduce that behavior today!

[2020-03-02 18:04] #160 closed, assigned to nobody

[2020-03-02 18:06] cory-signalfx commented on #148
Hey @wellcast, can you pass along any details about this dashboard? Things like number of charts, etc? I'm curious is this some sort of volume or timing related thing. My example case (just 4 charts) seems to work fine!

[2020-03-02 18:18] saikrishna547 commented on #150
Can I know what's the updated version of sfx provider?

[2020-03-02 18:19] cory-signalfx commented on #150
Yup, in [4.14.0](https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/CHANGELOG.md#4140-february-25-2020).

[2020-03-02 19:34] saikrishna547 commented on #148
`### Host ###
resource "signalfx_dashboard" "ec2_instance" {
  name              = "EC2 Instance"
  dashboard_group   = "${signalfx_dashboard_group.mdcat_dashboard_group.id}"
  charts_resolution = "default"
  time_range        = "-1h"

  /*
  Datalinks
  */

  chart {
    chart_id = signalfx_single_value_chart.ec2_instance_cpu.id
    row      = 0
    column   = 0
    width    = 6
    height   = 1

[2020-03-02 19:35] saikrishna547 commented on #148
Hey, i am facing this issue even with the production environment , I just changed the name there and not able to apply that changes, It throws same error

[2020-03-02 19:35] saikrishna547 commented on #148
[code]

[2020-03-02 19:48] wellcast commented on #148
I actually tried with fewer charts then originally only a single chart still present the issue.

I've recently managed to get that chart created with charts but I tried to add some more. There was when I started seeing the issue.

I'll try removing all the resources and re-adding again to see the result.

[2020-03-02 19:59] brianpham opened #162 "Missing open ended range(s) Error"
I am seeing this error when trying to create a single value chart. It should work according to this previously closed issue. https://github.com/terraform-providers/terraform-provider-signalfx/issues/97

Can anyone help with this?

[code]

[code]

[2020-03-02 20:01] cory-signalfx commented on #148
I'm at a loss. Here's my test:
[code]

First config:
[code]

Applies fine. Change config to:
[code]
Note the rename of the existing chart.

Apply output:
[code]

Everything works.

[2020-03-02 20:52] cory-signalfx commented on #162
Hey @brianpham! The issue here is that the API wants to know what to do with your time series exceed those bounds. If you change it to:
[code]

then it should work. Note that I removed the lower bound on your magenta section (since anything below should be magenta) and the upper bound on your green (since > 60 is good).

[2020-03-02 20:52] #162 closed, assigned to nobody

[2020-03-02 21:19] wellcast commented on #148
[code]

[2020-03-02 21:37] wellcast commented on #148
Same building from master.

Thanks a lot for getting back.

[2020-03-02 21:45] cory-signalfx commented on #148
Sorry, I didn't mean to imply master was going to help. It should be what's currently available. Was just explaining why mine was weird.

I'm a bit confused by your Terraform output. Why is the `chart_id` already known? Note that in mine it output as `(known after apply)` because the chart has not yet been created. Yours just describes it as a change to a dashboard with a new id and has no additio

[2020-03-02 21:58] wellcast commented on #148
Sure, no worries. Chart_id is already known since it was created in the first run. Then for debugging purposes, I've commented out the link. Which differs a bit from your test.
`link` meaning this block from a dashboard resource:
[code]

[2020-03-02 22:08] wellcast commented on #148
Curious, taint the chart seems to get it working.
What seems to happen is:
A given dashboard with its links to charts already exist.
Changes are made creating and/or removing charts from that dashboard.
Apply should create and destroy resources replacing the dashboard definition.
For some reason, it fails validation (400) and changes cannot be made after that.
I've run tf taint on the chart (in al

[2020-03-02 22:40] saikrishna547 commented on #148
For me, I am unable to delete or rename the dashboard. Not sure I guess destroying complete env will also give me an error because the chart is left as orphan so it will still throw an error.

[2020-03-02 22:48] wellcast commented on #148
Here TF managed to destroy after it was tainted.
But you can try deleting via api for example:
`curl -i --header "Content-Type: application/json" --header "X-SF-TOKEN: xxxxx" --request DELETE "https://api.eu0.signalfx.com/v2/chart/ERXJ3xMAEAA"`

[2020-03-02 22:55] cory-signalfx commented on #148
@wellcast Oh, yours _also_ contains data links? That's a common factor between yours and @saikrishna547's that isn't in mine. It's EoD for me but I will test that in the morning. Maybe the data links are causing some kind of dependency loop?

[2020-03-02 22:57] saikrishna547 commented on #148
No, I don't have any datalinks for those dashboards. I am still not able to delete that dashboards from UI. Commenting the resource in terraform is not working. Not sure how to handle this

[2020-03-03 15:40] cory-signalfx commented on #148
Hey @saikrishna547, if you're unable to delete in the UI that sounds like a larger problem than just the Terraform provider. Please open a ticket with the support team so that someone can engage engineering and get some help on the backend!

In the meantime I'll add some data links to my testing today to try and reproduce.

[2020-03-03 18:41] brianpham opened #164 "time_chart not showing correct on_chart_legend_dimension"
When creating columnchart via signalfx_time_chart, the on_chart_legend_dimension plot_label is not showing the correct label. Even when specifying plot_label, it seems to be showing metric as a dimension.

It seems to be showing the right thing when I click into the chart, but from the dashboard view it doesn't show the right thing. If I click into the chart, I can see the plot_names are correct a

[2020-03-03 19:04] brianpham commented on #164
It seems like if I add viz_options and do the following below it works properly. Do we know if this is how it is intended to work?

[code]

[2020-03-03 20:47] cory-signalfx commented on #164
Heads up, I'm going to be out the rest of the week so my response here may be slow. Sorry!

Hey @brianpham, this is curious. I've make a test case locally and am not seeing the behavior you describe in step one. To my knowledge you should *not* have to use `viz_options`.

Can you create an instance of this chart/dashboard that shows the problem and fetch it via the API with:

[code]

That will let

[2020-03-03 21:44] cory-signalfx commented on #148
Update! I was able to reproduce this with a data link. Investigating!

[2020-03-04 00:41] brianpham commented on #164
No worries. @cory-signalfx I posted 2 examples below. Let me know if you need anything else.

Here is the source with the viz_options set.
[code]

Here is the source with no viz_options set.
[code]

[2020-03-04 08:53] xp-1000 opened #165 "Some missing pieces or errors in detectors documentation"
Hello,

Reading the documentation from https://www.terraform.io/docs/providers/signalfx/r/detector.html I believe I have detected some errors (i.e. missing count) but I could be wrong, you will tell me in the PR.

[2020-03-04 09:24] xp-1000 commented on #165
Here is the PR: https://github.com/terraform-providers/terraform-provider-signalfx/pull/166

[2020-03-04 15:06] cory-signalfx commented on #165
Thanks, merged!

[2020-03-04 15:06] #165 closed, assigned to nobody

[2020-03-04 15:23] cory-signalfx commented on #164
Thanks so much for that, @brianpham. I think I'm able to reproduce this now. Specifically, it's something to do with the program text.  Here's my test case.

<img width="325" alt="Screen Shot 2020-03-04 at 7 23 20 AM" src="https://user-images.githubusercontent.com/47535956/75894423-0ae89800-5de9-11ea-95a0-d39b612562ca.png">

Let me play with this some more!

[2020-03-04 15:46] cory-signalfx commented on #164
Ok, I've been able to confirm that when manipulating this chart in the UI it sets the `viz_options` and saving the Terraform-created chart mutates it into working.

In short for now you should set the `viz_options`. I've created a ticket to get some clarification internally in the meantime. Sorry for the confusion!

[2020-03-04 15:46] #164 closed, assigned to nobody

[2020-03-04 17:20] cory-signalfx commented on #148
I have tracked this down to a bug in our API and filed an internal JIRA about it. I will hold this open until I get more information.

[2020-03-04 18:01] brianpham commented on #164
Thanks @cory-stripe!

[2020-03-10 12:21] camhashemi opened #169 "documentation: time_chart's program_text reference URL is broken"
the "more info" link leads to a 404: https://www.terraform.io/docs/providers/signalfx/r/time_chart.html#program_text

[2020-03-10 18:28] dbottini2 commented on #148
Is there a workaround for this?

[2020-03-10 18:29] cory-signalfx commented on #148
Not yet, this is a bug in the API that is awaiting a fix.

[2020-03-10 18:52] dbottini2 commented on #148
Can you confirm whether this should be limited in scope to renames and deletions? I appear to be getting this on dashboard creation as well. (I truncated a lot of stuff here since terraform is trying to tell me it's changing floating point numbers...)

[code]

[code]

[2020-03-10 18:53] cory-signalfx commented on #148
From what I can tell this affects any situation wherein a chart was previously a member of dashboard A, but that dashboard was deleted. (The reason is there's an underlying link that the API didn't delete, which is causing it to fail validation.)

[2020-03-10 19:43] cory-signalfx commented on #169
Thanks for flagging! Fixed in 998c7b84deda71110abb00f992218100593ecacf. Doesn't require a full release.

[2020-03-10 19:43] #169 closed, assigned to nobody

[2020-03-16 20:41] cory-signalfx commented on #66
This should be fixed in #174!

[2020-03-18 15:57] saikrishna547 opened #175 "Terraform plan not able to refresh"
The terraform plan is always getting struck , not throwing any errors and not even moving forward after certain steps.

Common thing observed is It always gets struck at data_links part

<img width="791" alt="Screen Shot 2020-03-18 at 8 42 36 AM" src="https://user-images.githubusercontent.com/44275490/76980512-83298000-68f6-11ea-8ac9-eaefe319e0fe.png">

[2020-03-18 16:27] cory-signalfx commented on #175
Hello, @saikrishna547. Can you provide a bit more information on this? It's possible it stems from some sort of rate limiting.

* Does signaling (INT or KILL) provide any feedback in the terminal or in a crash log?
* Does setting `-parellelism=1` stop the problem?
* Does it ever return? (I've experienced hanging from time to time, which is just a function of API requests being slow for whatever re

[2020-03-18 17:39] saikrishna547 commented on #175
I dont see any error when i kept if for 20-30+ mins.It's still in the hang state not seen a new line after that.
-parellelism=1 doesn't stop the problem that is the command i use in general.

I dont see any issues with TF_DEBUG as well.
<img width="1086" alt="Screen Shot 2020-03-18 at 10 38 39 AM" src="https://user-images.githubusercontent.com/44275490/76990128-b2df8480-6904-11ea-9df1-043e020f73b2

[2020-03-18 17:56] cory-signalfx commented on #175
Weird! What version of Terraform are you using?

[2020-03-18 18:01] saikrishna547 commented on #175
@cory-signalfx
Terraform v0.12.21
+ provider.aws v2.53.0
+ provider.signalfx v4.14.0

[2020-03-19 14:18] cory-signalfx commented on #175
Thanks for sharing the `TF_LOG` output. As you said, it doesn't share much that helps us. I will try and reproduce on my end by creating/updating a lot of data links. I can't imagine why that would cause problems, but I've seen weirder things. :)

Any help you can provide with a triage is welcome. I'm sorry you keep hitting such interesting problems!

[2020-03-19 14:19] cory-signalfx commented on #148
Hey all, I got some internal confirmation that this bugfix is now scheduled for the next sprint. It's possible it will arrive sooner, but we're being conservative.

[2020-03-19 14:21] #66 closed, assigned to cory-signalfx

[2020-03-19 14:43] cory-signalfx commented on #175
I've set up a local test that creates/updates/etc about 20 data links and can't reproduce this. I didn't think that was the problem, but I wanted to eliminate a simple rate limit problem for the data link endpoint.

[2020-03-19 14:47] cory-signalfx commented on #175
If you can provide me a terraform source that repros this — which I realize you might not — that'd be super helpful. :)

[2020-03-19 15:32] wellcast commented on #148
Great, thanks for the follow up @cory-signalf.

[2020-03-19 16:23] mobeigi commented on #148
Thank you @cory-signalfx

[2020-03-19 17:54] saikrishna547 commented on #175
I observed few things today,I will share the info and let me know how we can debug this.
If i don't use parallelism=1, I do see all the data_links (16/16 ) got refreshed but plan is still in hang state.
if i use the parallelism=1 , I do see 10 or 11 data_links refreshed out of 16 and plan is still in hang state.

Let me know if you need any other details.

[2020-03-20 04:23] saikrishna547 commented on #175
Also, let me know what source code are you expecting?

Below is the DEBUG logs for that
[tf2.log ](https://github.com/terraform-providers/terraform-provider-signalfx/files/4357915/tf2.log)

[2020-03-20 05:59] saikrishna547 commented on #175
Hope this might give you more clarity on the issue happening. Performed TG_LOG=TRACE and observed that signalfx provider is waiting for response of data_link resource which eventually blocked root to exit.
Please look at the below logs for information.

[tftrace.log ](https://github.com/terraform-providers/terraform-provider-signalfx/files/4358107/tftrace.log)

[2020-03-20 16:21] cory-signalfx commented on #175
Thanks for these. It confirms what you're seeing, but I'm at a loss for why it would be blocked.

While trying to reproduce this I found a bug related to setting `is_default` and fixed it in #176. It would've affected you. I'll release a new version later today, but I don't think it's related to this problem.

[2020-03-20 16:33] saikrishna547 commented on #175
After trying multiple times, i can say that there is a problem only with data_links but not sure what exactly is the problem and thought you might know it better.
This is effecting my pipeline.
Let me know if you need anything from me.

[2020-03-20 16:34] cory-signalfx commented on #175
Ok! I will check with engineering today and see if there's some sort of sneaky rate limiting or circular lock going on!

[2020-03-20 18:07] saikrishna547 commented on #175
Thank you :)

[2020-03-20 18:17] cory-signalfx commented on #175
Ok, did some asking around and we can't think of anything that would cause this at a technical level.

Another q: You don't use any sort of a proxy to get to the SignalFx API, right?

[2020-03-20 19:56] cory-signalfx commented on #175
Hey @saikrishna547. As is common in Go there were no timeouts in this transaction, so I've added them in #177. If the problem is in communication with the API as we suspect then we should see timeouts and errors which should help us track this down. I've asked Hashi for a build, which should be `v4.18.4`. At the moment they've not done the build yet, so we'll have to wait until that completes. If

[2020-03-20 22:47] saikrishna547 commented on #175
Thanks for the update

[2020-03-22 16:55] saikrishna547 commented on #175
Another q: You don't use any sort of a proxy to get to the SignalFx API, right?
No, we dont.

[2020-03-23 10:14] ghost opened #178 "Always authenticationrequired on Windows"
I'm stuck using the Terraform (v0.12.24) SFX provider on Windows (.terraform\plugins\windows_amd64\terraform-provider-signalfx_v4.18.3_x4.exe) always getting the same error message **authenticationrequired** when trying to create a team. I'm using my user API token and I'm administrator. The same stuff does work when executed on Linux.

Execution on Windows outputs

[code]

Execution on Linux prin

[2020-03-23 14:42] cory-signalfx commented on #178
Hey @sebastianf1! Can you provide the section of your terraform config where you're specifying the provider's arguments. Something like:
[code]

[2020-03-23 14:47] cory-signalfx commented on #178
Also you might want to check the following places where the provider will look for credentials (and that might differ on your machines):
* `/etc/signalfx.conf`
* `~/.signalfx.conf`
* the `NETRC` environment variable
* `~/.netrc` on Linux and `~/_netrc` on Windows

The `auth_token`  from the provider should be the highest priority, but these others might be causing a value to be set if your variabl

[2020-03-23 14:48] cory-signalfx commented on #175
@saikrishna547 You should be able to update and try this again and get an error from a timeout!

[2020-03-23 15:22] ghost commented on #178
The Terraform script I'm calling is pretty basic (see below). This is the command line as I use it: `terraform apply -var="access_token={UserToken}" -var="realm=eu0"`

[code]

The files (in my Windows environment) you requested to look for, are not here: none on disk (*netrc*, *signalfx.conf), not set (the NETRC environment variable).

[2020-03-23 15:25] cory-signalfx commented on #178
Related, I assume you're using the same token in both places. Be aware that SignalFx user tokens periodically expire and need to be updated. (That it works in Linux means you're using the right one there, and I assume in Windows too, but just in case!)

[2020-03-23 15:30] ghost commented on #178
Yes, first I tried in Windows (=fail). After that I tried the same code (same script, same token, same realm) on Linux (=success). After this, I see the same token in my SFX profile. This shows the token used is still valid.

[2020-03-23 15:34] cory-signalfx commented on #178
Marvelous, thanks for checking!

* There is a newer release of the provider, but the only change is the addition of some timeout code which should not affect you. (But you can upgrade just to be sure.)
* The [last thing the code does is check for an empty auth token](https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/signalfx/provider.go#L122) so we know _something_ is

[2020-03-23 15:53] saikrishna547 commented on #175
After how many minutes, do we get a timeout error? It's in hang state since 6 minutes and didn't get any error till now.

[2020-03-23 15:55] cory-signalfx commented on #175
Seconds! 5 for connections and 30 for the entire transaction. Can you confirm you're running `v418.4` of the provider?

[2020-03-23 16:00] saikrishna547 commented on #175
Yes
<img width="868" alt="Screen Shot 2020-03-23 at 9 00 08 AM" src="https://user-images.githubusercontent.com/44275490/77336486-cd3ea700-6ce4-11ea-9944-e669360cdb95.png">

[2020-03-23 17:57] cory-signalfx commented on #175
Wow, the plot thickens! That implies this isn't the HTTP stuff. That's positive to me cuz we looked and couldn't find any really slow transactions in our metrics. It's a negative now cuz wtf :)

So this leaves us with `dtruss`. Can you run `dtruss -p $PID` on the stuck process to see what it's doing?

[2020-03-24 07:31] pdecat opened #179 "Publish GitHub releases during provider releases"
Hi,

releases are currently published by updating the changelog, pushing a binary, and making a GitHub "tag" release.
Users can't subscribe to these releases automatically, though: https://github.community/t5/How-to-use-Git-and-GitHub/Not-getting-release-notification-despite-quot-Watching-releases/td-p/19665.

It would be awesome to publish rich releases on GitHub, allowing users to subscribe.

Se

[2020-03-24 14:22] cory-signalfx commented on #179
An excellent suggestions @pdecat! `git tag -m` it shall be from now on. I will leave this open as a reminder. :)

[2020-03-24 16:01] saikrishna547 commented on #175
Hey cory, here you go.

[file1.zip](https://github.com/terraform-providers/terraform-provider-signalfx/files/4376328/file1.zip)
Is this what you are looking for?

[2020-03-24 18:25] cory-signalfx commented on #175
Sorta! When the terraform run is hung I'm hoping to understand what the process is doing. If you run `dtruss -p $PID` where `$PID` is the PID of the terraform program then I'm hoping to see some output that helps us. If you have other ideas, I'm excited to hear them.

The output you gave me has nothing in it. Perhaps there are multiple PIDs and/or this needs `-parallelism 1`?

That aside, I believ

[2020-03-24 18:59] cory-signalfx commented on #178
Hey @sebastianf1, I just stumbled into an idea.

If you do a `terraform plan -out $somefile` then you can see the token in there. Notably by doing something like `terraform show -json $somefile | jq` and looking for the `variables` section. Maybe this will help?

[2020-03-25 07:47] saikrishna547 commented on #175
Cory, I am using the remote backend for state. This is the logs for that
when i ran dtruss where terraform -parallelism=1
[new.log.zip](https://github.com/terraform-providers/terraform-provider-signalfx/files/4379615/new.log.zip)
I will also try to change the backend to local machine and perform the above steps

[2020-03-25 14:42] ghost commented on #178
Currently it looks to me like another company proxy issue *ARGH* I checked the proxy environment variables HTTP_PROXY, HTTPS_PROXY, NO_PROXY, but no difference to the Linux setup.

[2020-03-25 14:50] cory-signalfx commented on #178
Yuck! I'll leave this here for a while in case you find something that I can do to help?

[2020-03-25 14:52] cory-signalfx commented on #175
That log is full of what we'd expect: waiting. 😄 Can't tell what it's waiting on though. :(

Let me know how your local test works!

[2020-03-26 18:06] saikrishna547 opened #181 "Detectors created through terraform and seems like missing much of the info like the metric reported on and image is also not available"

[2020-03-26 18:08] saikrishna547 commented on #181
<img width="645" alt="Screen Shot 2020-03-26 at 11 08 00 AM" src="https://user-images.githubusercontent.com/44275490/77681026-00d23900-6f52-11ea-9449-6a13692282fe.png">
These are the details that i am getting when i get an alert

[2020-03-26 18:09] saikrishna547 commented on #181
It should atleast report the metric name right?

[2020-03-26 22:48] RafeKettler opened #182 "Allow configuring an HTTPS proxy"
There is currently no way to do this. My terraform modules must run in an environment where outbound HTTPS requests go through a proxy, so this prevents me from using terraform-provider-signalfx.

[2020-03-27 14:08] #182 closed, assigned to nobody

[2020-03-27 14:23] cory-signalfx commented on #181
Hey @saikrishna547! I am unsure why this would occur. I don't know of anything that the Terraform provider does that might trigger this to happen. Since it's more of a product feature can I encourage you to contact support and include the detector ID? We can investigate to see if it's something we need to improve/warn people about!

(Closing in favor of that approach, feel free to reopen if you fi

[2020-03-27 14:23] #181 closed, assigned to cory-signalfx

[2020-03-30 16:12] saikrishna547 commented on #175
Hey @cory-signalfx  just performed terraform plan and apply for new environment and saw the similar issue reproduced even the state being local. It doesn't have anything other than signalfx and terraform in my code. ( I mean aws is removed now) . So, let me know what all you need from my end?

[2020-03-30 16:17] cory-signalfx commented on #175
Ok, well, that's another possibility eliminated!

Since you've been able to pare this down to just SignalFx Terraform config, is it possible for you to share that with us? (If you prefer to do so non-publicly, you can send it to support!) It's ok if we don't have any of the metrics or anything, since this is about the dashboards and links.

[2020-03-30 16:21] saikrishna547 commented on #175
I will talk with support now and tell them to send it to you.

[2020-03-30 16:21] cory-signalfx commented on #175
Ok! I'll keep an eye out and hopefully I can reproduce locally, thank you @saikrishna547!

[2020-03-30 16:25] saikrishna547 commented on #175
Also, not sure if this is also a bug. Can't we create 2 datalinks for same property pointing to same target dashboard keeping one default to true and the other one false? I can actually do this in the UI. But not in the terraform
`resource "signalfx_data_link" "mydatalink_ec2_instances_2" {
  context_dashboard_id = "${signalfx_dashboard.ec2_instances.id}"
  property_name = "InstanceId"
  target_si

[2020-03-30 16:26] cory-signalfx commented on #175
Let's make that one a separate issue, I believe I've seen that as well.

[2020-03-30 16:41] saikrishna547 commented on #175
Yup sure. I guess you have received my repo from Katie. Let me know if you need anything from me.

[2020-03-30 16:53] saikrishna547 opened #184 "Multiple datalinks creation not possible via Terraform (which is possible in the UI)"
After creating multiple datalinks for the same target dashboard and same propertyname. Whereas specifying is_default= true and one with is_default = false should actually work but its not working.
I am getting below error.

`{
  "code" : 400,
  "message" : "Cannot create multiple cross links for the same property value combination"
}`

[2020-03-30 16:54] saikrishna547 commented on #184
To reproduce the issue use below code.

[code]

[2020-03-30 16:59] cory-signalfx commented on #175
I got it, thanks! Gimme a bit, as I've got a few other meetings today. I will report my findings!

[2020-03-30 17:30] cory-signalfx commented on #178
Timing out, hope it's working!

[2020-03-30 17:30] #178 closed, assigned to nobody

[2020-03-30 17:33] cory-signalfx commented on #179
Because Hashi tags the repo this requires someone to remember to go and edit the release by hand. I'll keep doing this, but expect me to forget sometimes. :(

[2020-03-30 17:33] #179 closed, assigned to nobody

[2020-03-30 18:42] pdecat commented on #179
I believe that's managed by hashicorp's Teamcity CI.

It probably needs some configuration updates.

[2020-03-30 19:20] cory-signalfx commented on #179
Yeah, they said it was a manual process on their end, which I assume they don't mind the effort for on big repos. They said it's possible to automate, but I get the impression they want to continue investing in us owning the process before fixing those bits. (There's some plan to give us control in the future.)

[2020-03-30 19:24] cory-signalfx commented on #175
Update from my end, I've received the configuration files and run apply and plan successfully. I didn't encounter any freezes or hangs. On your end is this hanging any time you do a `terraform plan`?

[2020-03-30 19:30] saikrishna547 commented on #175
Initially, when i do a plan I don't see any issue but after doing an apply and then try to add something new or delete something you should be able to reproduce this issue.
First apply then try to do a plan and let me know.

[2020-03-31 14:11] cory-signalfx commented on #175
Hey @saikrishna547, I've just spent a while modifying, adding, and deleting data links and not been able to reproduce the problem. I also tried messing with dashboards and still nothing is causing a hang.

Can you give me any more thoughts on how I might reproduce?

[2020-03-31 15:35] saikrishna547 commented on #175
I have tried more than couple times deleted the exisiting state and then tried with new **terraform init** and this issue is able to reproduce for me even though.

[2020-03-31 15:37] cory-signalfx commented on #175
Ok! I'll try a few more times through the day with more changes and see what I can do.

[2020-03-31 19:53] cory-signalfx commented on #175
I've tried editing links and dashboards, adding new links, removing links, and combining all of the above and not been able to reproduce any sort of hang. I'll ask the in the Terraform committer's channel for a hand, but I'm out of ideas here. Is this something that only you are experiencing?

What is your OS, etc? Maybe this is happening on Linux or Windows but not on my Mac?

[2020-04-01 15:03] cory-signalfx commented on #184
Hey @saikrishna547, can you verify you're using a version of the provider > `v4.18.4`? I made some changes related to this in #176. I also can't seem to reproduce this now. 😞 Here's my example (which is the same as yours, but has the referenced resources:

[code]

[2020-04-01 15:07] cory-signalfx commented on #175
Asking around to the Hashi folks they suggested it might be related to [AWS credentials changing](https://www.reddit.com/r/Terraform/comments/bg7oe8/terraform_plan_hangs_without_making_any_attempts/) but you said you removed all the AWS so I'm still out of ideas. :(

[2020-04-01 15:58] saikrishna547 commented on #184
I am using 4.18.4. I will let you know by checking with updated version

[2020-04-01 16:01] saikrishna547 commented on #175
Hi @cory-signalfx  I never doubted my local machine since I run terraform for other projects which was working fine. But I can anyways run  this with a different machine and let you know. But, I have tried with my machine by removing existing state file and cloning new code still didn't worked for me.

[2020-04-08 17:42] saikrishna547 commented on #175
Hi @cory-signalfx Glad, it worked I  was able to do this with in Docker. Also, sometimes i face the timeout errors that you added while discussing in this issue. Is that something expected? Or any workarounds for you or me?

[2020-04-08 19:56] cory-signalfx commented on #175
Glad you're able to confirm, but disappointed I still can't. :(

I have no other ideas for how to reproduce this locally and if I can't do that I'm unsure how to proceed. I believe we eliminated all the things that I or some contacts at HashiCorp could think of. 😢

[2020-04-15 16:45] ssaniva commented on #148
Hi @cory-signalfx,
Do you have any  ETA on when this'll be available ?

[2020-04-15 17:05] cory-signalfx commented on #148
Current ETA is next week!

[2020-04-15 18:14] ssaniva commented on #148
Thanks for the update  @cory-signalfx

[2020-04-21 21:50] ngortheone opened #191 "[CRASH] creating resources crashes terraform"
Creation of signalfx resources does not work.

Using example:
https://www.terraform.io/docs/providers/signalfx/r/org_token.html

I was trying to create an org token, but terraform errors out and often crashes. The org token is created nevertheless.

Details"

[code]

[code]

First apply:
[code]

Or sometimes terraform errors out and crashes

[code]

Subsequent application also fails:
[code]

[2020-04-22 14:23] cory-signalfx commented on #191
Thanks for reporting @ngortheone, I'm on it!

[2020-04-22 15:49] #191 closed, assigned to cory-signalfx

[2020-04-22 16:14] cory-signalfx commented on #191
Hey there @ngortheone, sorry you bumped into this. This was fixed in #192 and I've requested a new release which should land soonish. You can try the upgrade with `terraform init -upgrade` and the newest should download. The version you will want is [4.19.2](https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/CHANGELOG.md).

Because the key was created you have two optio

[2020-04-22 17:18] ngortheone commented on #191
Thanks for prompt reply @cory-signalfx, I will test this today!

[2020-04-22 17:50] cory-signalfx commented on #191
No problem! I got word that this release should now be available, so you should be able to upgrade, etc.

[2020-04-22 17:56] ngortheone commented on #191
I confirm that the fix works. Thanks so much!

[2020-04-22 18:16] cory-signalfx commented on #191
😻

[2020-04-22 18:57] ngortheone opened #193 "[BUG] org-token missing outputs"
Hey @cory-signalfx
There is another one for you

I have successfully created an [org token](https://www.terraform.io/docs/providers/signalfx/r/org_token.html), but there are 2 problems:

1. [documentation page](https://www.terraform.io/docs/providers/signalfx/r/org_token.html) does not list any resource outputs.

2. When I check what is recorded in the state - there is also nothing useful there.

[2020-04-22 18:59] cory-signalfx commented on #193
Oh dear, how embarrassing! 😸

[2020-04-22 21:23] cory-signalfx commented on #193
Fix coming in #194

[2020-04-22 21:27] cory-signalfx commented on #193
This has been merged and Hashi should do a release for us in the next couple of hours. I will close this, assuming they are going to get that done. Thank you for flagging @ngortheone, not sure how I missed that.

[2020-04-22 21:27] #193 closed, assigned to cory-signalfx

[2020-04-24 18:38] cory-signalfx opened #195 "Importing some heatmaps fails"
When importing a heatmap chart with no min, max or color the resulting state is invalid, since a color is required.

[2020-04-24 19:12] #195 closed, assigned to nobody

[2020-04-28 19:27] saikrishna547 commented on #184
Hi @cory-signalfx , I have tested with latest provider(4.18.6). Still seeing issues.
<img width="655" alt="Screen Shot 2020-04-28 at 12 25 12 PM" src="https://user-images.githubusercontent.com/44275490/80528771-52a02180-894b-11ea-88d7-444421adc62f.png">

[2020-04-29 00:48] sguillope opened #197 "Client timeout when creating dashboards with version 4.19.1"
After upgrading to `4.19.1`, running `apply` started failing when creating dashboards as the creation would time out (I believe 30 sec).
Here's a sample of the output we're getting (module and dashboard names changed). We can see very long creation times for dashboard resource (normally we get 2-3 sec max) and then a couple of them fails because of the client timeout.
[code]
Note that it only seem

[2020-04-29 15:45] cory-signalfx commented on #197
Hey @sguillope, thanks reporting. I've seen one other report of timeouts in #175 but was unable to reproduce or find any smoking guns.

I've got some new ideas today and plan to have a new release this afternoon for you to try.

[2020-04-29 15:52] sguillope commented on #197
Great! Let me know if there's any additional details I can provide to help pinpoint the issue.

[2020-04-29 16:18] saikrishna547 commented on #197
I am also facing the same issue and not able to see a successful terraform apply.

[2020-04-29 16:26] saikrishna547 commented on #197
Hi @sguillope, How are you able to use 4.19.1? I think the lastest version is 4.18.6 right?

[2020-04-29 16:36] cory-signalfx commented on #197
The [latest version](https://github.com/terraform-providers/terraform-provider-signalfx/blob/master/CHANGELOG.md) is 4.19.4, with 4.19.5 on the way for both of you to test, @saikrishna547.

[2020-04-29 16:54] saikrishna547 commented on #197
Okay, thanks @cory-signalfx . Let us know once it is available for us to test.

[2020-04-29 17:11] cory-signalfx commented on #197
Alright, version 4.19.5 is available. Wanna give it a try @saikrishna547 and @sguillope?

[2020-04-29 19:07] saikrishna547 commented on #184
Hi @cory-signalfx , Can you also check by running this below code? I do see the above error which is not an expected behavior
[code]

[2020-04-29 21:40] cory-signalfx commented on #184
Hey @saikrishna547, I was able to isolate some stuff in this today and have some news.

First, I appreciate the examples but without all the resources — specifically, the groups and dashboards — I'm still approximating your setup. This is fine, but I want to make sure you understand why I'm not just using the above example. :)

The API only considers the following when determining a duplicate: `co

[2020-04-29 21:40] #184 closed, assigned to cory-signalfx

[2020-04-30 14:17] davisliu11 opened #199 "Error: Provider produced inconsistent final plan"
Terraform version: 0.12.13
Signalfx provider version: 4.10.2

When I create SignalFx chart using dynamics as below, I keep on getting this error "Error: Provider produced inconsistent final plan" sometimes.
[code]

Here is the error.
[code]

Command to apply is as below. (I have removed some personal info)
[code]

[2020-04-30 14:26] cory-signalfx commented on #199
Thanks for sending this along. I have no idea what it means, so I'll do some digging. :)

[2020-04-30 14:55] cory-signalfx commented on #199
I can confirm that is this reproducible with current versions of both Terraform and the provider.

[2020-04-30 14:58] cory-signalfx commented on #199
This issue is the same as [this issues in the AWS provider](https://github.com/terraform-providers/terraform-provider-aws/issues/10107) and has the same quality that a second `apply` fixes the problem.

I'm asking around within the HashiCorp Terraform channel. More later!

[2020-05-02 02:24] sguillope commented on #197
Thanks @cory-signalfx for jumping on this. I've tested 4.19.5 and unfortunately with the same result as >= 4.19.1.
Just for completeness here's my terraform config:
[code]

Happy to send you the trace log by email if you think it can help.

[2020-05-04 16:15] ssaniva commented on #148
Hi @cory-signalfx ,
I'm just wondering if this change has been rolled out If not what's the ETA?

[2020-05-04 17:07] saikrishna547 commented on #148
Hi @cory-signalfx , Any update on this?

[2020-05-04 19:15] saikrishna547 commented on #197
Hi @cory-signalfx , I do still see the issues  with new provider (4.19.5). I am facing the same error.
<img width="417" alt="Screen Shot 2020-05-04 at 12 16 42 PM" src="https://user-images.githubusercontent.com/44275490/81004385-309e1780-8e01-11ea-9599-9160418fdb31.png">
<img width="912" alt="Screen Shot 2020-05-04 at 12 18 32 PM" src="https://user-images.githubusercontent.com/44275490/81004517-62

[2020-05-05 14:59] cory-signalfx commented on #199
Update that I didn't get any response on this, will try again today.

[2020-05-05 16:40] cory-signalfx commented on #148
Hey folks!

This change is, indeed, out in the world. There are still some caveats, namely that because Terraform is multithreaded it might try and create the new dashboard at the same time or really close to the same time.  In those cases you can either run `apply` again or run `apply --parallelism=1` in the first place to avoid the problem.

[2020-05-05 16:40] #148 closed, assigned to cory-signalfx

[2020-05-05 18:22] saikrishna547 commented on #148
It was happened to me even we i used --parallelism=1, parallelism was in my terraform apply command since day1

[2020-05-05 18:24] cory-signalfx commented on #148
Understood @saikrishna547. The underlying issue that we found here was that when a dashboard was removed the charts still contained a reference to that now deleted dashboard. That was fixed, but renames like this can still cause some difficulty if done too quickly. The sticky bit in the API was removed, though!

[2020-05-05 18:45] cory-signalfx commented on #197
Heads up that I've finally found a way to reproduce this locally!

[2020-05-05 19:25] cory-signalfx commented on #197
Alright, with some effort I tracked this down to dashboards with a number of charts in the 20+ range. The amount of time that the API takes to make such dashboards causes the timeout to be hit, which creates all sorts of problems.

I'm going to make some changes in #200 that increase the timeout, the file some bugs internally about durations.

[2020-05-05 19:58] cory-signalfx commented on #197
I've filed an internal ticket and will keep this open for a while, but for anyone who encounters this the upcoming `v4.19.6` will have a 120s default timeout and should extend the horizon of this problem.

If you *still* hit the timeout, this will likely require deleting the charts and recreating them.

[2020-05-05 20:06] saikrishna547 commented on #197
@cory-signalfx , Can i know the ETA for this? Because, This is something needed for us to push some of the code into production.

[2020-05-05 20:07] cory-signalfx commented on #197
Build has been requested, should be in a few hours. (HashiCorp controls this, not me.)

[2020-05-05 20:09] saikrishna547 commented on #197
Cools thanks :)

[2020-05-06 14:19] cory-signalfx commented on #199
Hey @davisliu11, thanks for the patience! After asking around I was told this issue is related to [Terraform #24697](https://github.com/hashicorp/terraform/pull/24697) and that when it lands in 0.13 it should fix the issue. In the meantime, this is **not** a provider issue ( 😄) and you can just run `apply` again and it will clear up.

Thanks for reporting!

[2020-05-06 14:19] #199 closed, assigned to cory-signalfx

[2020-05-06 16:17] saikrishna547 commented on #197
Is v4.19.6 available?

[2020-05-06 16:20] cory-signalfx commented on #197
Eep, looks like Hashi didn't do the release because I had an error in the Changelog. That's my bad. I've asked them to do it with the fix in place. :)

[2020-05-06 19:40] saikrishna547 commented on #197
let us know once that is released. We will test and let you know.

[2020-05-06 21:05] cory-signalfx commented on #197
Should be live now!

[2020-05-11 13:45] Shr3ps opened #202 "`signalfx_azure_integration` services field is now required"
Since release `v4.19.0`, the `services` field is now mandatory, which means we need to list every Azure services we want to monitor with SignalFX.
This list seems outdated on the documentation page: https://www.terraform.io/docs/providers/signalfx/r/azure_integration.html#service-names

Can you:
- update the documentation with the exhaustive list of Azure services available or compatible?
- update

[2020-05-11 13:51] pdecat commented on #202
Note: [changelog incorrectly references](https://github.com/terraform-providers/terraform-provider-signalfx/blame/v4.19.7/CHANGELOG.md#L46) https://github.com/terraform-providers/terraform-provider-signalfx/pull/188 instead of https://github.com/terraform-providers/terraform-provider-signalfx/pull/189

[2020-05-11 13:52] pdecat commented on #202
Having a datasource to get the list of integration services could help working around this issue:

https://github.com/terraform-providers/terraform-provider-signalfx/blob/v4.19.7/signalfx/resource_signalfx_azure_integration.go#L182

[2020-05-11 15:15] cory-signalfx commented on #202
Oh, having a data source is a really good suggestion @pdecat. Thanks!

[2020-05-11 17:12] saikrishna547 commented on #197
Looks like it worked for me on Friday, But will give couple more try's today to see if i see any issues.

[2020-05-11 17:12] cory-signalfx commented on #197
Yay!

[2020-05-11 17:16] saikrishna547 commented on #197
Actually, Do we really see a much difference in time between each resource creation? I do see a lot difference in the time while applying the terraform

[2020-05-11 17:18] cory-signalfx commented on #197
Sorry @saikrishna547, what do you mean? The outstanding issue is that dashboard creation is *very* slow. The timeout has been extended to accommodate, but it definitely won't fix the problem until the API's performance is improved by engineering @ SignalFx.

[2020-05-11 17:24] #202 closed, assigned to nobody

[2020-05-11 18:53] cory-signalfx commented on #202
Data source added in #204

[2020-05-12 06:48] pdecat commented on #202
Thanks @cory-signalfx, that was fast!

May I suggest doing the same for GCP?

The supported GCP services seem to be listed there: https://github.com/signalfx/signalfx-go/blob/v1.6.34/integration/model_gcp_integration.go#L30

[2020-05-12 16:56] cory-signalfx commented on #202
Oh, yes! I feel dumb for having forgotten that. 😛

[2020-05-13 03:55] sguillope commented on #197
I can confirm that it fixes the issue. However obviously it takes quite a bit more time to apply changes for all our dashboards. For that reason, we're sticking to 4.19.0 for now.
Thanks

[2020-05-14 14:46] cory-signalfx commented on #197
I'm glad this fixes things, but this should not have caused any increase in the duration of these operations. This merely increases the time that the provider will wait for an operation to complete.

In other words, `== 4.19.0` should not change durations versus `> 4.19.0`.

[2020-05-14 19:11] saikrishna547 commented on #197
Yeah but we do see some difference in the operations duration. When we have bunch of resources and this change was something I specially observed with the new provider release.

[2020-05-14 19:24] cory-signalfx commented on #197
Got it. I'll investigate, but I think we can mark this closed.

[2020-05-14 19:24] #197 closed, assigned to cory-signalfx

[2020-05-15 03:29] dexterleng opened #206 "Recommendations on how to create a"

[2020-05-18 12:55] cory-signalfx commented on #206
Hey @dexterleng, looks like this got submitted prematurely!

[2020-05-19 14:33] #206 closed, assigned to nobody

[2020-05-25 04:34] MartinTeeVarga opened #208 "Dashboard creation too slow since 4.19"
I am creating dashboards with over 30 graphs. This used to take about 2s per dashboard. Since v4.19 it takes 37s. I am unable to add more graphs to a dashboard because at some point I get HTTP 504 from the server (which used to be OK before). Example below:

[code]
Verified with 4.21, same issue.

[2020-05-26 17:52] cory-signalfx commented on #208
Hrmmm, odd. I am a bit busy the next day or two, but I will do some extra testing here to try and isolate this as soon as I can. I can't think of why it got slower on this end (i.e. in the provider) but perhaps some of the HTTP tuning caused problems.

[2020-05-27 00:43] axeljonson opened #209 "Dashboard in same dashboard group can't use the same chart"
Hi SFx, @cory-signalfx

I have a Terraform main that has one dashboard group with two dashboards. Both dashboards use the same chart. The first dashboard get created fine. The second one fails with:
[code]
I am using:
[code]

Command line:
[code]

main.tf
[code]

This may be similar or related to:
https://github.com/terraform-providers/terraform-provider-signalfx/issues/148

Any help would be grea

[2020-05-27 01:15] axeljonson commented on #209
Follow up comment. I made a copy of the modules that are used in both dashboards, renamed them. Now both dashboards are being created but I have duplicate modules with different names.
Any insights would be appreciated.

[2020-05-27 13:18] cory-signalfx commented on #209
Hey @axeljonson! Unfortunately charts can only be members of **one** dashboard. This is by design from the API side. That you can create standalone charts probably lends to the idea that they could be reused, I know. :(

[2020-05-27 13:18] #209 closed, assigned to nobody

[2020-05-27 17:00] axeljonson commented on #209
@cory-signalfx  Thanks for getting back to me... Have a great day!

[2020-05-27 20:15] saikrishna547 commented on #208
I agree with @MartinTeeVarga  i am also facing the same issue. I think I have already mentioned this on one of  the issue i opened.

[2020-05-28 08:31] pdecat opened #210 "Add support for GCP integration whitelist"
Hi,

it would be awesome if the SignalFx terraform provider added support for the GCP integration `whitelist` property:

https://github.com/signalfx/signalfx-go/blob/v1.6.37/integration/model_gcp_integration.go#L35

This allows to add metadata to the Compute Engine instance integration:

https://docs.signalfx.com/en/latest/integrations/google-cloud-platform.html#compute-engine-instance

![image](h

[2020-05-28 15:47] cory-signalfx commented on #208
Hey folks, I'm around to doing some more digging today. Serendipitously @pdecat contributed #211 which might shed some light on this, or at least (in)validate my mental model of how changes since 2.19 have affected things.

[2020-05-28 16:31] cory-signalfx commented on #208
Alright, I've done some tests locally this morning with a large dashboard in `HEAD` and got:

`signalfx_dashboard.mydashboard0: Creation complete after 39s [id=EZHg7BvAYAA]`

I then switch to v4.18.6 and ran the same test:

`signalfx_dashboard.mydashboard0: Creation complete after 3s [id=EZHhtBgAYAI]`

So I guess I have some digging to do.

[2020-05-28 16:36] cory-signalfx commented on #208
Specifically, this came up between v4.19.0 and v4.19.1

[2020-05-28 17:49] cory-signalfx commented on #208
Can verify there is no difference in the HTTP bodies between the two versions.

[2020-05-28 19:36] cory-signalfx commented on #208
Alright, I've finally tracked this down to something on the API side. This is *not* the Terraform provider's fault but that's not really important here since it impacts your work either way. There was an internal issue filed for this previously, it's now been updated and increased in priority.

[2020-05-29 14:06] #210 closed, assigned to nobody

[2020-05-29 14:28] cory-signalfx commented on #3
This was added back in #5

[2020-05-29 14:28] #3 closed, assigned to nobody

[2020-06-04 09:55] dogmatic69 opened #216 "Possibility to have the credentialId as output from signalfx_slack_integration"
As per the title, currently we need to provision the integration in terraform and then get the ID from the UI in signalFX to be able to then reference the integration in other places

Ideally: (if there was an output for `signalfx_slack_integration.team.credentialId`)

[code]

[2020-06-05 13:29] cory-signalfx commented on #216
Hey @dogmatic69! This works today, here's the syntax:

[code]

The credential ID is just the integration's ID, which is already present!

[2020-06-17 18:04] glennpratt commented on #135
If you stumble on this with a chart and detector both defined in terraform, you are probably looking for an example like:

[code]

[2020-06-22 16:35] #175 closed, assigned to nobody

[2020-06-25 00:23] mobeigi commented on #208
Hey @cory-signalfx , how are you doing? :)

Is there an update on this issue? I would like to update my provider version to fix the #148 bug but if I do I introduce this new performance bug. There is no build in between where there is no performance loss and has the bug fix.

Thank you!

[2020-06-25 14:11] cory-signalfx commented on #208
Hey @mobeigi! I'm doing pretty well. :)

There should be no difference in performance between versions of the provider. The regression is API side. I've been able to reproduce the problem with all versions of the provider, and it only affects dashboards with larger numbers of charts.

[2020-06-26 00:39] mobeigi commented on #208
@cory-signalfx I don't experience that personally. In my tests below the speed is almost twice as slow going from a fresh `terraform init` state and timing the plan and apply. The plan is speedy but the API calls to apply are slow. These are the exact same dashboards being applied both times with the only change being the `tf` version and `provider` version.

Does the change in terraform version h

[2020-06-26 13:48] cory-signalfx commented on #208
Well, that's annoying. We've reproduced it locally and it's _definitely_ on the server/API side. We even know why! There's nothing about Terraform to my knowledge that cares one way or the other.

Your test, however, begs to differ. Lemme do some fiddling this morning and see if I missed something? (Perhaps I was too excited by finding the regression on the API-side?)

[2020-06-26 15:04] cory-signalfx commented on #208
Sooo, good news is #221 seems to fix this for me. Bad news is I don't understand why. I've had a look over the source and nothing makes sense. Before I merge and release this I wanna ask around internally…

[2020-06-26 16:31] #208 closed, assigned to cory-signalfx

[2020-06-26 16:31] cory-signalfx commented on #208
Releasing today as `v4.23.2`

[2020-07-07 10:18] JSDevine opened #222 "allow transient muting rules"
Hi,

I'm trying to set up transient muting rules IE when a new version of the application is deployed via terraform, I want to create muting rule that lasts for 15mins.
This will prevent known alerts during deployments - that otherwise should be responded to, without the need to manually add muting rules into SFX before the deployment.

The issue is that on subsequent applies, TF attempts to delet

[2020-07-07 14:57] cory-signalfx commented on #222
Hey @JSDevine!

Seems like you're clashing with both the Terraform and SignalFx API ways of doing things here. Both have good reasons for being difficult in this case and I'm not really keen to try and pick either apart. Terraform wants to manage entities with identities and the SignalFx API wants to keep alert mutes in the past firmly rooted there.

My suggestion in this case be one of the follow

[2020-07-07 14:57] #222 closed, assigned to nobody

[2020-07-15 08:08] dogmatic69 commented on #216
Perhaps the terraform docs for the provider need to be updated? According to the docs there are no outputs for the `signalfx_slack_integration` module.

[2020-07-15 15:23] cory-signalfx commented on #216
Sure, I checked around and see that a couple of providers document this. On it!

[2020-07-15 16:01] cory-signalfx commented on #216
Merged and sent along for website updates, which Hashi does periodically through the day. Thanks @dogmatic69!

[2020-07-15 16:37] #216 closed, assigned to cory-signalfx

[2020-07-22 23:18] jimmycuadra-stripe opened #227 "Perpetual diff for dashboard groups in Terraform plan"
Greetings,

We are seeing a few of our dashboard groups failing to converge when running `terraform apply`. The dashboard groups in question show in-place modification that removes a bunch of inline `dashboard`s, but after applying, the same diff shows up on the next plan/apply. I suspected that we might have ended up with some corrupt state in our Terraform state file (possibly from migrating fro

[2020-07-23 13:30] cory-signalfx commented on #227
Hrm, how perplexing. It's not uncommon to find an argument here or there that causes an unclean plan — usually new ones where I make errors — but this is a whole other thing.

Are the dashboards in question mirrors? That's not a code path I feel has been well exercised, so maybe something lurks there… I will probably proceed with trying that out locally today, but do let me know.

[2020-07-23 13:49] cory-signalfx commented on #227
Ok, did some stuff locally and everything in mirrors seems ok. Forgive my slow understanding of the diff/state as it's a big one! The raft of empty `dashboard` items is especially confusing. I see there are some overrides lurking in there, which I assume is intentional mirroring.

What's the HCL for this dashboard look like? Maybe there's some bug in how the provider is interpreting that?

[2020-07-24 01:29] jimmycuadra-stripe commented on #227
Hi Cory, thanks for looking into this!

The HCL for the group itself is very simple:

[code]

We have three dashboard groups managed from the same Terraform root module. Two of them exhibit the problem while the third (which I believe is the newest of the three) does not. The one that doesn't exhibit the problem doesn't have a list of dashboards in its Terraform state file representation, which is

[2020-07-27 15:57] cory-signalfx commented on #227
I noticed that the cURL showed mirrors with no overrides and I don't think I'd tested that so I gave it a whirl. Unfortunately it worked as expected and didn't yield an unclean plan. :(

The dashboard group's entries for `dashboard` should **not** be all nulls. Did you import these groups? Regardless if you remove those entries it might help. I'll try and repro locally by adding them by hand to my

[2020-07-27 16:02] cory-signalfx commented on #227
Ok, adding a null-full dashboard worked as expected, cleaning up after a plan.

The cURL you showed has a *lot* of mirrors going on. It doesn't even jive with what's in the state file, which is worrying. It seems to be only missing the dashboard id. Let me do some import testing over here.

[2020-07-27 16:06] cory-signalfx commented on #227
Oops, some of my confusion comes from how mirrors and non-mirrors show up in API responses. Dashboards in a group show up in the `dashboard` section, but have no overrides. That's confusing. The plot thickens on how those even got into the state file.

[2020-07-27 16:10] cory-signalfx commented on #227
Baaaah, I think I found it @jimmycuadra-stripe. PR coming.

[2020-07-27 17:56] cory-signalfx commented on #227
OK, now I'm in a pickle.

The underlying API mixes concerns here. Mirrors and dashboard members are in the same field, `dashboardConfigs`, but this only works if the customer is an enterprise customer. Otherwise ye olde `groupId` field is the right way. I have no way of really knowing which is which.

The current code is leaving empty `dashboard` entries when the entry is not a mirror. I'm going t

[2020-07-31 00:18] MovieStoreGuy opened #228 "Adding tag support to resources"
I think I have had a conversation in the past with @cory-signalfx regarding this, but I wanted to have an issue that I could reference.

I want to be able to add tags to resources (using detectors as an example, https://developers.signalfx.com/detectors_reference.html#operation/Create%20Single%20Detector) which would enable automated resource enforcement.

My memory is that this couldn't be done d

[2020-07-31 07:32] andreamarinaro opened #229 "Unexpected status code:400 while creating signalfx_dashboard_group"
Hi, I'm getting this error while trying to apply a simple dashboard_group resource via Terraform:
[code]
This is my TF config:
[code]
Any ideas? Thanks for helping

[2020-07-31 13:01] cory-signalfx commented on #228
Hey @MovieStoreGuy, you have indeed had that conversation and you are correct. The issue being that the provider can't trust that the response will have the tags in it. :(

If you raise this with support and tell them how important it is, it's helpful to me. Customer needs outweigh "Cory says this would be good for Terraform". 😄

[2020-07-31 13:12] cory-signalfx commented on #229
Hallo @andreamarinaro! Ik spreek een beetje Nederlands! 😄

Two bits that may help:
  * `authorized_writer_users` expects the user id of a SignalFx user, as assigned by the API. Make sure that's what you are storing in that paramter.
  * The example given passes the string literal `"data.aws_ssm_parameter.dashboard_token.value"` instead of the underlying value you intended. Fixing this is different

[2020-08-03 09:52] andreamarinaro commented on #229
Hey Cory, thanks a lot for your feedback!
I was trying to pass the access token instead, now I'm passing the user ID as it's returned by the API.
The only thing, I had to stick with the [""] syntax cause, for that specific value, Terraform requires a set of strings and it seems this is the only way to pass the value along.

Thanks a lot for your help!

[2020-08-03 09:52] #229 closed, assigned to cory-signalfx

[2020-08-03 19:39] walterking opened #230 "named token being removed from external integration"
A signalfx_aws_integration  update is removing the named token field from a signalfx_aws_external_integration.  Thus every time the integration is updated, the external integration gets replaced.

Based on a cursory reading I think it might need namedToken or named_token in https://github.com/splunk-terraform/terraform-provider-signalfx/blob/39f9b12d27d730ada9b154ba643ef094cd4f7a6e/signalfx/resour

[2020-08-03 21:00] jimmycuadra-stripe commented on #227
Hi Cory! I was out on vacation last week so forgive the late response. I appreciate you continuing to look into this! If there's anything I can do to help, please let me know!

[2020-08-04 15:28] cory-signalfx commented on #230
I see the problem here @walterking and am working on a fix in #231.

[2020-08-04 15:53] #230 closed, assigned to cory-signalfx

[2020-08-06 10:23] xp-1000 opened #233 "[Question] use_get_metric_data_method useless ?"
Hello,

I would like to use https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/aws_integration#use_get_metric_data_method everytime which is more efficient.

I am asking myself if this option is still useful now because I do not see it in the API doc : https://developers.signalfx.com/integrations_reference.html#operation/Create%20Integration

So I suppose, this

[2020-08-06 14:37] cory-signalfx commented on #233
Hey @xp-1000! No worries on the multiple questions, I'm happy to help. In order:

1. The `use_get_metric_data_method` does work, but I would encourage you to contact SignalFx support about it's use and implications. It is not documented intentionally, from what I understand.
2. It does look as though `poll_rate` allows arbitrary values between 60 and 600, I'll work on that!
3. The `enableCheckLarg

[2020-08-06 15:24] cory-signalfx commented on #233
Hey @xp-1000, [v4.26.0](https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v4.26.0) should be available soon from Terraform and fix items 2 and 3 in your list. I am closing this issue now since 1 requires a support discussion.  Thanks for flagging!

[2020-08-06 15:24] #233 closed, assigned to cory-signalfx

[2020-08-07 01:09] axeljonson opened #235 "Removing chart description does not happen with terraform apply"
When I attempt to remove the 'description' argument from a chart and then run
[code]
the description is not removed. I can see the change marked during the plan, but the change is not applied to the target deployment. The only way I was able to remove the description is to do a
[code]
Currently using:
[code]
Is there something else I need to do to make the 'description' argument be removed without

[2020-08-07 13:50] cory-signalfx commented on #235
I can reproduce this locally. Perhaps the API is ignoring a null description when it should be unsetting it? I'll do some testing!

[2020-08-07 13:59] axeljonson commented on #235
Thanks @cory-signalfx !

[2020-08-07 14:03] cory-signalfx commented on #235
No problem! I can also confirm that my guess above is true. I'll have a fix out soonish, I wanna verify some other resources to see if this is true also of dashboards, etc!

[2020-08-07 14:35] #235 closed, assigned to cory-signalfx

[2020-08-07 14:45] cory-signalfx commented on #235
Hey @axeljonson, this is fixed up in [v4.26.1](https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v4.26.1). Thanks for reporting!

[2020-08-08 00:49] axeljonson commented on #235
Thanks @cory-signalfx for the quick turn-a-round!!! I will move up to the new version!

[2020-08-21 06:28] axeljonson opened #241 "error setting the time_span_type argument in signalfx_dashboard resource"
I am attempting to set the 'start_time' and 'end_time' values to specific times. In the documentation it states that I also need to set the ```time_span_type = "absolute"```. When I do, I get the following error when running the ```terraform apply```:
[code]
Here is my configuration file:
[code]
Am I setting the 'time_span_type' in the wrong place?

Thanks much,
Jon Axelson

[2020-08-21 14:47] cory-signalfx commented on #241
Hey Jon! These are out of date, so I've removed them. Sorry about that!

[2020-08-21 14:47] #241 closed, assigned to cory-signalfx

[2020-08-21 23:46] axeljonson commented on #241
@cory-signalfx Thanks for the quick response. So, is there a way for me to set an absolute time/date range from from Terraform using the SFx provider?

[2020-08-31 15:15] anujshukla-1987 opened #242 "Differences between Resources after terraform apply and Actual resources created in SignalFX dashboard."
Greetings,

Terraform Version : 0.13
SignalFX Module Version : 4.26.4

Via Terraform we are creating a Dashboard Group , 22 Dashboards under that dashboard group and 5 charts inside each Dashboard.
When I do terraform apply it rightly creates 133 Resources so 1(Dashboard Group) + 22(Dashboards) + 22*5(Dashboard Charts) sucessfully.

But when i go to the Signalfx Dashboards i only see 8-15 dashboar

[2020-09-02 23:29] venkat240042 opened #243 "Single Value Chart with Secondary Visualization "Sparkline""
I have been trying to  Single chart with Secondary visualization with Sparkline  with show_spark_line = true   using terraform script. For some reason not accepting show_spark_line with secondary  visualization. Could you please take a look into my script and share inputs to resolve error
Error: Unexpected status code: 400: {
  "code" : 400,
  "message" : "Cannot use Show Sparkline with Secondary

[2020-09-03 13:15] keitwb commented on #243
Hi @venkat240042 can you try just setting `secondary_visualization` and omitting `show_spark_line`?  I have confirmed that the backend is rejecting those two together, as I believe `show_spark_line` is a legacy option.

[2020-09-03 21:04] venkat240042 commented on #243
Hi Splunk-Terraform/Terraform-Provider-Signalfx,
Yes, Terraform script is working without any error by setting
secondary_visualization
= "Sparkline" and show_spark_line = fasle, however this doesn't give the
secondary visualization spark line
[image: image.png]

On Thu, Sep 3, 2020 at 6:15 AM Ben Keith <notifications@github.com> wrote:

[2020-09-04 14:15] keitwb commented on #243
Ok great. Let us know if you have any more issues.

[2020-09-04 14:15] #243 closed, assigned to keitwb

[2020-09-04 14:44] mgaidia commented on #242
Run terraform with parallelism set to 1
This workaround solved the same issue for me.

[2020-09-07 07:11] anujshukla-1987 commented on #242
Thanks mgaidia for the workaround .. it works !!

[2020-09-07 07:11] #242 closed, assigned to nobody

[2020-09-14 06:24] nigeldunn opened #245 "Update documentation for Team(s)"
The documentation no longer matches the API for how teams are used in 5.0.0 in resource_signalfx_detector.
Currently it says:
![image](https://user-images.githubusercontent.com/176692/93051401-bf704a00-f6a7-11ea-8720-da7d595a134c.png)

However this is not true.

[2020-09-14 13:56] daviddyball commented on #227
Hi all,

I too am seeing similar issues to this, although it's only regarding the `import_qualifier` statements in the HCL:

This is the output of the plan:
[code]
I imported _all_ of our dashboard groupss using `terraform import signalfx_dashboard_group.<name> <ID>`, so I guess it's a carry-over from that?

The issue is that our CI/CD for applying the Terraform now shows that it constantly needs

[2020-09-14 14:42] jrcamp commented on #227
@daviddyball can you open a support request so we can look at the exact dashboards? Please include your .tf files there. Thanks!

[2020-09-15 02:53] ImDevinC commented on #245
This same issue applies to `signalfx_dashboard_group`

[2020-09-15 03:03] ImDevinC opened #250 "New dashboards/detectors implementation is a degradation from previous integrations"
https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v5.0.0

This implementation is extremely limiting for larger projects. For example, we keep our dashboards, charts, and detectors for each of our applications in the repository with the application code so that when we deploy application updates, the proper signalfx configuration gets deployed as well. Before we could eas

[2020-09-15 15:09] #245 closed, assigned to jrcamp

[2020-09-15 15:18] jrcamp commented on #250
Thanks for detailing your use case, it definitely helps. This was done due to the API breaking backwards compatibility for these resources. I will look into it more to see if there's a better solution.

[2020-09-16 17:25] jrcamp commented on #250
@ImDevinC @RafeKettler

What do you think about a new resource `signalfx_team_links` that allows to do linking to detectors and dashboard groups? For example:

[code]

[2020-09-17 03:58] ImDevinC commented on #250
If we can use multiple team links from different repos, pointing to the same team, this should work great. Below is an example usage scenario

**Repo One**
[code]

**Repo Two**
[code]

[2020-09-21 19:43] jrcamp opened #251 "Upgrade to SDK v2"
We're currently on v1.15 of the SDK and there's a v2 that requires a number of changes: https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html

There's a migrator to help with it: https://github.com/hashicorp/tf-sdk-migrator

Haven't seen anything indicating how long v1 support will be maintained.

[2020-09-21 19:58] jrcamp commented on #250
Yep multiple will work.

[2020-09-22 20:39] jrcamp opened #252 "import_qualifier cannot be set to empty"
Hi all,

I too am seeing similar issues to this, although it's only regarding the `import_qualifier` statements in the HCL:

This is the output of the plan:
[code]
I imported _all_ of our dashboard groupss using `terraform import signalfx_dashboard_group.<name> <ID>`, so I guess it's a carry-over from that?

The issue is that our CI/CD for applying the Terraform now shows that it constantly needs

[2020-09-23 15:34] #252 closed, assigned to nobody

[2020-09-23 18:33] xp-1000 opened #254 "tags and customProperties for detector resource"
Hello,

This could be very nice to have the `customProperties` and `tags` api fields configurable in terraform detector resource :

https://developers.signalfx.com/detectors_reference.html#operation/Create%20Single%20Detector

[2020-10-02 09:07] tommynguyen-vungle commented on #250
Hi @jrcamp, so at our company, we face similar issue as @ImDevinC. We have 100+ detectors, each of them links to respective teamID. Is it better to have the structure like this:

[code]

In this case, the `detector` & `detector_group` has similar relationship as `dashboard` & `dashboard_group`. And we could avoid the burden of adding new detector_id to `signal_team_links` every time we create a ne

[2020-10-02 13:24] mcmiv413 opened #255 "Teams feature remove the ability for users to join/leave teams themselves."
I am just getting started with creating dashboards, detectors, etc via terraform and was surprised that I couldn't just add groups I was creating to existing teams. Fine, I created a new team definition inside the terraform code, associated the dashboard group created as part of the same run and defined nothing else.  It works, great, I had my user join the team and when I ran the apply again it r

[2020-10-02 13:29] mcmiv413 opened #256 "Order of the filter overrides and dashboards"
Is there anyway to control the order that the filter overides show up on top as well as the order of the dashboards in the group?

I followed the suggestion here:

https://github.com/splunk-terraform/terraform-provider-signalfx/issues/127

Originally I had broken my stuff out into different files, based on what was suggested in the above I pulled it all into a single file for a dashboard group but

[2020-10-02 14:03] mcmiv413 commented on #255
Looks like it also does this for the notifications policy.

[2020-10-02 15:08] mcmiv413 commented on #255
Looks like this may fix my issue 👍
https://github.com/splunk-terraform/terraform-provider-signalfx/pull/257
That means I could just drop team management from terraform all together

[2020-10-15 12:34] pgadjev-ingka opened #258 "target_splunk in signalfx_data_link is missing instanceUrl"
Hello,

The argument `target_splunk` in resource `signalfx_data_link` is missing `instanceUrl`. This results in Bad status 400 when applying the plan.

[code]

Using version 5.0.1 with the following configuration:
[code]

Kind regards

[2020-10-22 19:07] rajatonit opened #259 "Signalfx terraform script is crashing when using inside Jenkins"
Hi,

Signalfx terraform script is crashing when using inside Jenkins. In Jenkins I'm using the docker image: hashicorp/terraform:full on the slave. And when I run the terraform script in Jenkins I get the following error:

------------------------------------------------------------------------
[31m
[1m[31mError: [0m[0m[1mrpc error: code = Unavailable desc = transport is closing[0m

[0m[0

[2020-10-22 20:04] keitwb commented on #259
Hi @rajatonit, the linked PR above should fix the issue.  It has to do with a lack of user context, probably that /etc/passwd is missing.

[2020-10-22 20:10] #259 closed, assigned to nobody

[2020-10-22 22:09] rajatonit commented on #259
@jrcamp @keitwb  Can you please rebuild and release a new minor/patch version.  And thanks for the quick response

[2020-10-23 17:53] jrcamp commented on #259
https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v5.0.2 released. Note that it will just prevent the panic, seems an error will still be hit in your environment that @keitwb was referring to above.

[2020-10-23 19:36] rajatonit commented on #259
Thanks I figured out a workaround.  When you start the docker container make sure you specify user like this: args '-u root:root' and then /etc/passwd will exist.

[2020-10-26 14:34] #255 closed, assigned to nobody

[2020-11-04 21:46] myuwono opened #262 "Set viz_options "Entries with missing data" to Hide in list chart"
Would be great to be able to set this viz_options in terraform

![image (12)](https://user-images.githubusercontent.com/15880686/98171103-4a045580-1f43-11eb-8ac2-bda1ed27fc88.png)

[2020-11-06 21:46] huyngo1216 opened #264 "Terraform apply isn't idempotent in scenario where dashboard_group with mirrors + dashboard resources are used"
Hi there team,

I wanted to present a use case wherein I'm seeing some unexpected behavior and am wondering what you think about it. It's a little hard to see without an example, so I'll provide one after describing the scenario. In my configuration, I use a `resource signalfx_dashboard_group` and include dashboard mirrors via the `dashboard` argument (ref: https://registry.terraform.io/providers/

[2020-11-10 06:12] axeljonson opened #265 "Data link target_external_url fails apply after change"
When I create a 'signalfx_data_link' resource using the 'target_external_url' and run:
[code]
Everything works fine. If I change anything in the dashboard including anything in the 'target_external_url' block and reapply I get the following error.
[code]
The only way I can apply any changes to the dashboard is to go to the SFx UI and delete the data link manually. Then I can successfully update th

[2020-11-10 17:03] axeljonson commented on #265
I have also opened a SFx Customer Support ticket for this issue.
https://signalfxsupport.force.com/s/case/5003m000015NGN3AAO/data-link-targetexternalurl-block-fails-on-terraform-updates

[2020-11-12 16:59] kwhitejr opened #266 "Error: Failed to get user environment user: Current requires cgo or $USER set in environment"
I am attempting to deploy a SignalFX dashboard via Terraform from a Jenkins runner. I received the following error and it is not clear to me what is wrong (longer TRACE logs below):
[code]
Image: `hashicorp/terraform:0.13.5`
Jenkins: `2.235.1-alpine`
TF files and SFX credentials themselves are verified fine; I can deploy without issue from local machine. The same pipeline and image run AWS and Pag

[2020-11-13 19:21] kwhitejr commented on #266
The error log seems to be originating from here (`provider.go`): https://github.com/splunk-terraform/terraform-provider-signalfx/blob/main/signalfx/provider.go#L117-L119

[code]

[2020-11-13 22:15] kwhitejr commented on #266
Temporary workaround: set image `hashicorp/terraform:0.13.5` environment variable `USER` to any string.

[2020-11-20 14:39] jrcamp commented on #266
It needs to be able to find a home directory. See https://github.com/splunk-terraform/terraform-provider-signalfx/issues/259#issuecomment-715544374

[2020-11-20 14:39] #266 closed, assigned to nobody

[2020-11-25 17:08] rma-stripe opened #269 "signalfx_alert_muting_rule `filter` is not actually optional"
The following muting rule:

[code]

... results in error:

[code]

This goes against the docs, which state that `filter` is an optional argument: https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/alert_muting_rule

[2020-12-04 21:48] ericdahl opened #272 "signalfx_aws_integration: Add support for metricStatsToSync option"
We're currently utilizing the `metricStatsToSync` option to pull in additional percentile metrics for ALBs that would otherwise not be ingested into SignalFX, via configuration like:

[code]

It seems like the Terraform provider does not support this

Documentation for this is at https://dev.splunk.com/observability/docs/integrations/aws_integration_overview/#Specify-AWS-statistics

It would be gr

[2020-12-07 17:06] narmendariz commented on #272
Opened feature request FEED-3764 for this

[2020-12-28 16:49] doctornkz opened #278 "Problem with time_chart and axis in viz_options"
Good day!

I am using that resource in terraform:
[code]
Terraform complains with this output:
[code]

In that line I see the proper structure : https://github.com/splunk-terraform/terraform-provider-signalfx/blob/main/signalfx/resource_signalfx_time_chart.go#L421

But if I am using structure from signalfx-go library I am having that one :
https://github.com/signalfx/signalfx-go/blob/master/chart/

[2021-01-04 14:41] keitwb commented on #278
@doctornkz can you explain what your `signalfx2terraform` program does?  I assume it is dumping data from our API and turning it into terraform resources?  Is it meant for a one-time migration to terraform or what?

The reason terraform has the string values is to make it more user-friendly and obvious what the values mean, compared to our API that uses numbers.  Since our API came first, the numb

[2021-01-05 02:09] doctornkz commented on #278
@keitwb You exactly got an idea of the tool - user is passing the API token and dashboard/detector ID and getting back  terraform file. We are saving a giant amount of our time with that automation.

I had this transformation before, but I switched it back to avoid complexitiy and unconsistancy. I need to keep in my head all tricks, wrappers and transformation. Axis it only one example, with color

[2021-01-05 09:58] #278 closed, assigned to nobody

[2021-01-05 11:15] doctornkz opened #279 "Problem with colors and signalfx_list_chart"
I am trying to apply that terraform state:
[code]
and I am getting the error:
[code]
and I confused because in documentation I have this: https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/list_chart#color
[code]
as you see `dark_yellow` is there.

What do you think?

[2021-01-08 16:58] arunasfx opened #280 "Error in doc for stop_time argument - muting rule"
signalfx_alert_muting_rule
stop_time:(Optional) **Starting** time of an alert muting rule as a Unix time stamp in seconds.
This should be Stopping time of ....

[2021-01-14 15:17] downwithwindoze opened #281 "data source signalfx_gcp_services is broken"
Missing from around https://github.com/splunk-terraform/terraform-provider-signalfx/blob/1f9e97ad0e25919559084cafe151590af87ea55e/signalfx/provider.go#L67

It data source appears in the documentation: https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/data-sources/gcp_services, but as it is missing from provider.go above, it can't be used.

[2021-01-15 16:39] #281 closed, assigned to nobody

[2021-01-18 09:27] doctornkz commented on #279
Up?

[2021-02-06 00:04] jhollfelder opened #284 "color_by and color_scale options not working for signalfx_single_value_chart"
The documentation for [signalfx_single_value_chart](https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/single_value_chart#argument-reference) includes information for how to change the color of the displayed value when color_by = "Scale" is selected however this does not seem to be working.

Here is my terraform code snippet that has the problem:
[code]
The err

[2021-02-19 13:23] pauljflo opened #286 "Unable to configure a chart to use IEC Units"
When creating a chart in the Signalfx console under Chart Options > Advanced Options there is a
`Use IEC units` checkbox.

There does not appear to be away to do this using the Terraform provider which means some charts display incorrect values.

[2021-02-26 01:11] jakzo commented on #284
Looks like the docs need to be updated. The [test here](https://github.com/splunk-terraform/terraform-provider-signalfx/blob/c6041ba5f36e51f22b68b63c96650a91d06a9f5c/signalfx/resource_signalfx_single_value_chart_test.go) shows that you should use it like this:

[code]

[2021-03-05 22:46] Collin256 opened #290 "Not all Dashboards Listed in Dashboard Group when added with Dashboard Resource"
## Issue Description:
When creating a dashboard group resource, and then creating dashboard resources outside of the dashboard group resource using the dashboard group ID to add them, not all dashboards will be successfully associated to the dashboard group in the UI. However, all dashboards will exist and can be viewed by manually putting their ID’s in the SignalFX url.

## Expected Behavior:
A d

[2021-03-06 02:49] Collin256 commented on #290
On further investigation it appears that this may be an issue in the REST API at **https://api.us1.signalfx.com/v2/dashboard**. In testing, a POST to this API to create a new dashboard triggered the update to the dashboard group object record. Possible race condition?

[2021-03-09 17:38] walterking opened #291 "Documentation update"
https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/gcp_integration

Minor issue, but the allowed values are 300 or 60 (s) on poll_rate, but the example is 300000 (presumably ms)

`Error: expected poll_rate to be one of [60 300], got 300000`

[2021-03-09 22:15] PatrickShaw commented on #290
Hi @Collin256

Just a heads up. I'm experiencing the same issue. The workaround I use is involves using `terraform taint` to force dashboards to be deleted and recreated. It's not great and it comes with a whole bunch of caveats (slows down Terraform scripts, renders dashboard URLs temporary, etc). Here's the bash script:

[code]

[2021-03-11 13:46] Collin256 commented on #290
Hi @PatrickShaw,

Thanks for this info, this is very helpful.

In the last couple days we've also found that we can inject dependency into the dashboard resources (or even modules if you are on terraform 13 or higher) to force them to be created in serial instead of parallel, and this seems to avoid the reace condition in the REST API. We've just updated our code as such:

[code]

[2021-03-11 14:07] mcmiv413 commented on #290
From our side we have also found that we can use the depends on to control the order in which dashboards are created, which impacts the order in which they are listed in the dashboardgroups, otherwise it appears to be random order and subsequent runs will end up in different orders.

[2021-03-15 15:07] xp-1000 opened #292 "muting rule config for multiple detectors is inconsistent with the UI"
Hello,

This provider provides an attribute `detectors`: https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/alert_muting_rule#detectors which ease the configuration for the user.

However, the way it works now is not consistent with the UI behavior and capabilities.
Indeed, instead of adding one different filter for each detector in the list, it should probably

[2021-03-17 21:43] bxtp4p opened #293 "Unsupported block type error when using viz_options with signalfx_event_feed_chart resource"
This looks like maybe a documentation issue. The example on this page https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/event_feed_chart suggests you can use `viz_options` in a `signalfx_event_feed_chart` resource but when you try to, terraform throws an error `Error: Unsupported block type`.

[2021-03-30 08:41] RomeroGaliza opened #296 "signalfx_single_value_chart missing support for max and min values when secondary_visualization is Radial or Linear"
When trying to create a signalfx_single_value_chart with the following attributes:

[code]

I get the following error:
[code]

I noticed this case is not covered by your test (https://github.com/splunk-terraform/terraform-provider-signalfx/blob/c6041ba5f36e51f22b68b63c96650a91d06a9f5c/signalfx/resource_signalfx_single_value_chart_test.go) in version 6.7.3.

[2021-04-14 02:50] MAmba1-nike opened #297 "signalfx_detector AwsEventBridge Notification Support"
Error: Invalid notification type "AmazonEventBridge"

When I try to create signalfx_detector using terraform and with AwsEventBridge Notification terraform plan failing with above listed error

[2021-04-14 02:52] MAmba1-nike opened #298 "Create signalfx_detector terraform apply is Failing"
I am creating signalfx_detector using terraform and terraform apply is failing with following error

Plan: 1 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

signalfx_detector.NGAP-EMR-Alerts: Creating...

Error: rpc error: code = Unavailable desc = transp

[2021-04-20 06:42] PatrickShaw commented on #290
We just gave depends_on a go.

Works a charm :) it also maintains the dashboard ordering like @mcmiv413 mentioned which is an added bonus for us.

Thanks @Collin256 for the suggestion

[2021-04-20 12:05] Collin256 commented on #290
I'm thinking I need to close this issue, as it is not really related to the terraform provider but the SFX API. However I think the "depends_on" information is highly valuable. for all who have participated on this thread, should this just be a documentation issue?

[2021-04-22 18:22] PatrickShaw commented on #290
Yeah, I think they'd be benefit in mentioning: https://github.com/splunk-terraform/terraform-provider-signalfx/issues/290#issuecomment-796746653 in the Terraform provider docs 🤔

[2021-05-07 12:34] Keerthana2026 opened #299 "Error: Failed to validate installed provider"
Error: Failed to validate installed provider

Validating provider splunk-terraform/signalfx v6.7.3 failed: provider binary
not found: could not find executable file starting with
terraform-provider-signalfx

running on Windows 10 and Terraform v0.13.2

[2021-05-07 12:40] stil4m commented on #290
I'm having issues with this in combination with a `for_each`, this makes the solution @Collin256  provided not suitable for me (while depends on cannot be set dynamically).

Any other suggested workarounds?

[2021-05-13 20:44] narmendariz opened #301 "lack of parity between aws IAM Policy vs the most current in integration documentation"
The IAM Policy on terraform is missing "elasticloadbalancing:DescribeTargetGroups",
https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/aws_external_integration
versus what is found here:
https://docs.signalfx.com/en/latest/integrations/amazon-web-services.html#connect-to-aws
We should check parity or just link to the integration page.

[2021-05-26 18:39] atul9911 opened #303 "Not Compatible with tf version 0.14.+"
I am trying signalFX with tf version and 0.14.0 and getting this error

[code]

[2021-06-24 14:47] xp-1000 opened #304 "perpetual diff on tags attribute"
Hello @jrcamp @keitwb @asuresh4,

With the last provider version 6.7.4, setting the `tags` attribute to the `signalfx_detector` resource leads to a perpetual diff on terraform plan.

using the example from the official documentation : https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/detector

Here is an example of perpetual change affecting only tags:

[code]

[2021-06-24 15:02] keitwb commented on #304
@xp-1000 can you check using the API directly whether your detector actually has those tags?  it seems like it could either be that the tags are never really set, OR the tags aren't being read properly when the diff is assembled.

[2021-06-24 15:12] xp-1000 commented on #304
Hello @keitwb thanks for the answer. I can confirm it is the first case, the tags are never really set:

[code]

[2021-06-28 11:13] Poil opened #305 "Missing Azure Services"
Hi,

We are still missing some azure services that are supporter by SignalFX

Azure SQL Managed Instances
Azure SignalR Service
Azure Web PubSub
Container Registry
Content Delivery Network (CDN)

Best regards

[2021-07-02 10:32] xp-1000 opened #308 "aws integration creation should implement backoff retry"
Hello,

the aws integration resource obviously requires an aws role with right applied policy to be use during its creation (and validation).

automating all of this process leads to permission denied error because if you create the role and its policy with terraform so it will try to create the integration before the policy is really applied.

the right solution to address this issue is to implem

[2021-07-16 02:27] #304 closed, assigned to nobody

[2021-07-16 14:26] xp-1000 commented on #304
Hello @jrcamp could we hope a release soon ? else it is probably better to keep the issue open waiting for it no?

[2021-07-21 18:43] xp-1000 commented on #304
please @jrcamp can you release ?

[2021-07-29 09:36] xp-1000 commented on #304
may be @asuresh4 or @keitwb :pray:

[2021-07-29 16:14] Yonas-Dresen opened #310 "signalfx_org_token secret attribute does not work"
Hello SignalFx team,

According to the documentation of the SignalFx terraform provider. In the signalfx_org_token resource you can request the secret attribute after creation.
https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/org_token#secret

This attribute is returning 'null' at all times. When using TF_LOG=DEBUG you can clearly see the secret that the api

[2021-08-26 09:37] gowthamgv2510g commented on #297
Hello, facing same here, any update on the options for adding notifications to configuring Amazon Event Bridge. Is there any options for this usecase?
![image](https://user-images.githubusercontent.com/58732689/130939752-9caedc90-1638-436a-8cbd-41ac145ee530.png)

[2021-09-17 14:01] bohdanborovskyi-ma commented on #290
@stil4m I've solved the described issue in case of `for_each` in 2 steps:
- moved relevant TF code (e.g. dashboard group creation and invocation of module which create & add new dashboards to that group) to isolated TF project with it's own state file;
- tuned CI/CD pipeline which operates on that TF repo to execute `terraform apply` with `-parallelism=1` flag specified (i.e. override default conc

[2021-09-23 19:17] maulikp-splunk opened #318 "Add support for metricStreamsSyncState and logsSyncState in signalfx_aws_integration"
Currently signalfx_aws_integration doesn't support metricStreamsSyncState which is used to create AWS integration using MetricStream, and logsSyncState to enable logs from AWS integration.

[2021-10-08 00:10] axeljonson opened #320 "Dashboard variables deployed in reversed alpha order"
Deploying dashboards with '**variables**' places dashboard overrides in some sort of reverse alphabetical order; but in some cases randomly.

Modifying the alias value shows the following output. In this case the results was not even alphabetical.
![image](https://user-images.githubusercontent.com/34500543/136478321-4a7a8c99-0bf5-4215-b4de-f1e2116b6b49.png)

I have specifically called out each var

[2021-10-08 19:07] #264 closed, assigned to nobody

[2021-10-08 21:21] yuxinh3 commented on #265
This is a big issue, which limits the datalink assigned to a dashboard, some of our use cases can never be achieved due to this limit.

[2021-10-12 09:14] Danielkem opened #321 "[Feature suggestion] Add ability to get User ID"
When creating a [signalfx_team](https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs/resources/team) you have the ability to add members by supplying a user id, it would be nice to be able to get the user id (unique Splunk member user id) associated with a user in azure.

Right now I need an external script which first queries azure to get an email then uses that email in

[2021-10-13 08:49] lindhe commented on #321
I'll try to clarify here what our needs are (I'm working in the same team as Daniel).

We are currently using this provider to setup teams in our SignalFX instance (since SignalFX is missing native integration with groups via OIDC claims). In order to populate the SignalFX team with users, we must have the `userId` for each user that should become a member.

We already have a list of all users for

[2021-10-14 14:54] duranhelvaci opened #322 "AWS Account integration -Admin Token issue"
Error: Unexpected status code: 403: <html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Error 403 Forbidden</title>
</head>
<body><h2>HTTP ERROR 403 Forbidden</h2>
<table>
<tr><th>URI:</th><td>/v2/integration</td></tr>
<tr><th>STATUS:</th><td>403</td></tr>
<tr><th>MESSAGE:</th><td>Forbidden</td></tr>
<tr><th>SERVLET:</th><td>org.glassfish.jersey.servlet.Servlet

[2021-10-19 04:18] h-azycrazy opened #323 "Is there a way to create table charts?"
In all the documentations I couldn't find a way to create tables in signalfx using terraform. The closest possible way is creating a list. Is there a way to create table charts from terraform?

[2021-10-27 15:08] sethfduke opened #324 "Random Client.Timeout Errors During State Refreshes"
Have many CI/CD workflows hosted on GitHub that all experience the same sporadic timeouts when attempting to refresh the state of detectors, resulting in a net/http: request canceled Client.Timeout exceeded error.

`Error: Get "https://api.us1.signalfx.com/v2/detector/XXXXXXXXXXX": net/http: request canceled (Client.Timeout exceeded while awaiting headers)

This issue has been ongoing, occurs spor

[2021-11-02 10:11] hlepesant opened #325 "darwin_arm64 provider version"
Hi,

Can you build and release a darwin_arm64 version of the SignalFX provider ?

I'm using terraform darwin_arm64 and I can't  use this provider
A terraform init report this error
[code]

[2021-11-02 13:40] hlepesant commented on #325
I've build the provider on my side (MacBook Pro M1 / macos BigSure 11.6).
And it works as expected.
I've installed it in
[code]

regards

[2021-11-02 17:04] axeljonson opened #326 "The "Add Conditions" to data links to dashboards is not available."
In the SFx UI I can create a data link to another dashboard and can "Add Conditions" to when that data link will be visible. However the SFx Provider does not support this feature. Can this be added?
This is described (vaguely) in the [SFx Navigation page](https://docs.splunk.com/Observability/data-visualization/chart-and-dashboard-features/navigate-with-data-links.html#navigate-with-data-links).

[2021-11-15 19:28] leij-splunk opened #327 "Disable default TeamEmail notification Setting"
Disable TeamEmail notification setting from  terraform(Uncheck notification settings: Email all team members) .
![image](https://user-images.githubusercontent.com/92119554/141842156-4f6f05ee-99f8-4507-a06c-c0d85708b864.png)

[2021-11-22 02:35] #228 closed, assigned to nobody

[2021-12-27 08:05] vranystepan commented on #325
I'd say we just need to remove this...
https://github.com/splunk-terraform/terraform-provider-signalfx/blob/main/.goreleaser.yml#L27

[2021-12-28 20:58] lsglick commented on #323
@h-azycrazy did you ever figure this out?

[2022-01-06 08:07] axeljonson opened #336 "SFx Provider does not support dashboard permission inheritance"
On Dec 2, 2021, SFx released a new feature that allows the dashboard to inherit permissions from the associated dashboard group. The SFx provider does not support the different dashboard group settings. Providing no custom permissions for any of the dashboards (i.e. no 'authorized_writer_teams' or 'authorized_writer_user' configuration) and providing the following the following permissions for the

[2022-01-28 17:30] donaldpierce opened #339 "Allow isDefault to be set to TRUE for target_external_links"
Because the Splunk Data Link only goes to the base URL and as such trying to use Custom URL.

Custom URLs seem to be for in-app links only, not usable for linking back to splunk.

This is impacting our terraform provider as the API resets the customer isDefault value back to false , resulting of a false positive change.

[2022-02-04 18:33] AJJLVizio opened #341 "signalfx_org_token double url-encodes names when trying to read from previously created state."
Creating a token named "test/token" works properly, but when refreshing state it mistakenly tries to read the URL
https://api.us1.signalfx.com/v2/token/test%252Ftoken but should be https://api.us1.signalfx.com/v2/token/test%2Ftoken

[2022-02-17 09:14] gbloquel commented on #297
Currently, it seems that is not implemented.

see https://github.com/splunk-terraform/terraform-provider-signalfx/blob/v6.8.1/signalfx/notifications.go#L12-L24
There is none `AwsEventBridgeType`.

[2022-02-22 15:41] #250 closed, assigned to nobody

[2022-03-03 17:13] FalconerTC opened #352 "Adding properties using MetricMetadata"
Hello. Is there a resource that allows you to add properties to a dimension, as you can do in the UI via the MetricMetdata?
<img width="1743" alt="image" src="https://user-images.githubusercontent.com/2731258/156615656-2fb33cb1-8ab5-4a4b-806f-dfc630279d66.png">

It looks like this is a call to the `v1/dimension/*` endpoint.

Thank you!

[2022-03-04 11:17] #318 closed, assigned to nobody

[2022-03-09 16:14] bgola-signalfx commented on #325
Done. Thanks for your contribution!
https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v6.10.0

[2022-03-09 16:14] #325 closed, assigned to nobody

[2022-03-09 16:16] bgola-signalfx commented on #322
You need to use User API session token when working with integrations.

https://docs.splunk.com/observability/admin/authentication-tokens/api-access-tokens.html#admin-api-access-tokens

[2022-03-14 14:28] akonarska commented on #305
Fixed already by https://github.com/signalfx/signalfx-go/pull/134

[2022-03-14 14:28] #305 closed, assigned to nobody

[2022-03-14 15:37] #291 closed, assigned to bgola-signalfx

[2022-03-14 15:38] #301 closed, assigned to nobody

[2022-03-24 14:15] #272 closed, assigned to nobody

[2022-03-24 18:41] anelson-splunk opened #364 "signal_aws_integration regions does not handle null values"
Documentation indicates that the `regions` attribute is completely optional when using this provider. However, if a null value is passed in, this provider does not account for it and actually sets the value as null in SignalFx which causes issues for the end user when they look at the AWS Integration in the SignalFx UI.

The provider should set a default value so if users provide bad input then it

[2022-03-25 08:19] luke-sterkowicz commented on #303
Please verify your signalfx provider config (api_url). https://registry.terraform.io/providers/splunk-terraform/signalfx/latest/docs

[2022-03-25 08:19] #303 closed, assigned to nobody

[2022-03-25 08:21] luke-sterkowicz commented on #336
Added in [v6.11.0](https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v6.11.0)

[2022-03-25 08:21] #336 closed, assigned to nobody

[2022-03-25 08:24] luke-sterkowicz commented on #269
Fixed in [v6.11.0](https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v6.11.0)

[2022-03-25 08:24] #269 closed, assigned to nobody

[2022-03-25 08:37] #9 closed, assigned to nobody

[2022-03-25 10:37] luke-sterkowicz commented on #280
Thanks - will be fixed in next release (6.12)

[2022-03-25 10:37] #280 closed, assigned to nobody

[2022-03-25 10:50] luke-sterkowicz commented on #292
The reasoning is valid, although neither of the methods is supported by the UI at the moment (specifying multiple detector IDs as separate filters or as a list for the property value). Listing multiple detector IDs will make the rule obsolete. However, while the API doesn't restrict the filter values I am adding an explicit note in the docs for now, for clarity (will be in the next release). Good

[2022-03-25 10:50] #292 closed, assigned to nobody

[2022-03-25 20:23] dbottini commented on #323
Jumping on this boat as well - table charts are awesome, and I'd like to be able to use them in Terraform too.

[2022-03-28 22:41] anelson-splunk commented on #364
Further investigation points to an alternate root cause to the problem. Terraform code does not pass in a value for `named_token` and the provider doesn't use the value of "Default" which is what the API will default to, but instead passed null.
https://github.com/splunk-terraform/terraform-provider-signalfx/blob/main/signalfx/resource_signalfx_aws_integration.go#L205-L209
https://dev.splunk.com/o

[2022-04-11 14:27] ewanlyall commented on #364
we are also experiencing this behaviour on `v6.11.1`.

Similarly, setting `regions = []` is also passed to SignalFx as `null`.

I can't see any evidence that the provider has changed behaviour in this respect, so I'm assuming that the API has changed at some point. The original behaviour was that passing an empty list of regions would enable **all** regions in the SFx integration.

Using this as a

[2022-04-20 07:33] iNikem opened #370 "Plugin crash"
I got the following crash when using SignalFx terraform provider:

[code]

[2022-05-02 17:22] mnegron1 opened #374 "plugin crash"
Error: Plugin did not respond
Stack trace from the terraform-provider-signalfx_v6.13.0 plugin:

panic: interface conversion: interface {} is *schema.Set, not []interface {}

goroutine 52 [running]:
github.com/splunk-terraform/terraform-provider-signalfx/signalfx.getPayloadDetector(0xc0000ea960?)
        github.com/splunk-terraform/terraform-provider-signalfx/signalfx/resource_signalfx_detector.go:

[2022-05-02 19:41] apoorva88 opened #375 "Plugin Crashed"
Error: Request cancelled
│
│   with module.signalfx-detectors-integration-aws-sqs["efgwrcptrgtadptr-intake-dlq-prod"].signalfx_detector.age_of_oldest_message,
│   on .terraform_prod/modules/signalfx-detectors-integration-aws-sqs/modules/integration_aws-sqs/detectors-sqs.tf line 69, in resource "signalfx_detector" "age_of_oldest_message":
│   69: resource "signalfx_detector" "age_of_oldest_message"

[2022-06-10 18:34] bohdanborovskyi-ma commented on #375
@apoorva88 Apparently, this bug was solved in [v6.13.1](https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v6.13.1) provider release.
Please upgrade the provider and test if crash remains re-producible

[2022-06-10 18:35] bohdanborovskyi-ma commented on #374
@mnegron1  Apparently, this bug was solved in [v6.13.1](https://github.com/splunk-terraform/terraform-provider-signalfx/releases/tag/v6.13.1) provider release.
Please upgrade the provider and test if crash remains re-producible

[2022-07-13 08:21] elvis-cai opened #379 "signalfx_dashboard_group report was null, but now cty.StringVal("") bug"
we notised some issue happened for dashboard group
[code]

[2022-07-16 18:16] ShubhangiUpadhyay opened #381 "Plugin didn't Respond"
**Error: Plugin did not respond
│
│   with splunk_inputs_monitor.monitor,
│   on main.tf line 15, in resource "splunk_inputs_monitor" "monitor":
│   15: resource "splunk_inputs_monitor" "monitor" {
│
│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ApplyResourceChange call. The plugin logs may contain more details.
╵

Stack trace from the terraform-provider-sp

[2022-08-07 13:10] pratik141 opened #385 "count, for_each or depends_on support while using modules"
$  terraform plan

│ Error: Module module.name contains provider configuration
│
│ Providers cannot be configured within modules using count, for_each or depends_on

[2022-08-16 13:47] mjhuber commented on #310
seeing this issue as well in version `6.14.0`.  Example:

[code]

and then looking at the state, `secret` is null but the token was created in signalfx.

[code]

[2022-08-29 08:18] sorpa opened #388 "AWS integrations removal with metricstreams is not working"
When trying to remove AWS integration which has metricstreams enabled it fails. See following output

Plan: 0 to add, 0 to change, 2 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

module.splunk_apm_eu_north_1.signalfx_aws_integration.aws_myteam: Destroying... [id=FTgZvMGAAAA]

[2022-08-29 08:22] sorpa commented on #388
workaround is to check the integration id from splunk apm gui and run direct curl first to "CANCELLING" and then after some time "DISABLED" to same integration metricStreamsSyncState.
curl -XPUT 'https://api.splunkamp.com/v2/integration/XXXDDDDD' -H 'accept: application/json, text/plain, */*' -H 'x-sf-token: XXXXDDDDYYYY' -H 'content-type: application/json' --data-raw '{"regions" : [ "eu-north-1"

[2022-08-31 09:15] muzeke opened #390 "Feature Request: Add RUM"
Hi,

Just wondering if we have any future plans of adding RUM to the terraform provider? It would be helpful to keep it in IaC.

[2022-09-06 17:15] leij-splunk commented on #390
I think you can use `auth_scopes` to configure auth token scopes.
`auth_scopes` supports `RUM`.

[2022-09-13 17:03] #310 closed, assigned to nobody

[2022-09-15 19:21] mjhuber commented on #310
update for anyone watching, this is now fixed in provider version `6.17.0`

[2022-10-14 21:35] rss04 opened #394 "GovCloud Signalfx integrations"
When using this code with govcvloud, I am receiving the following error :

[code]

Following code was used:
[code]
Can you please advise ?

Thanks

[2022-10-19 15:41] maulikp-splunk opened #395 "signalfx_table_chart not showing column names correctly in dashboard view"
Hi team,

I am using following code to generate Table chart in Splunk O11y:

[code]

When I view chart from dashboard, column names are showing incorrectly, although when I open a chart, column name shows up correctly. Attaching two screen shots here.
![image](https://user-images.githubusercontent.com/79483501/196738909-103f6a68-7679-4bbe-9ce7-acc6493f72de.png)
![image](https://user-images.githubu

[2022-11-17 10:41] surajthodupunoori opened #398 "Terraform state show to hide computed attributes"
I would like to import the existing resources terraform config.

Hence I'm doing it in 2 steps

1. `terraform import signalfx_dashboard.a <id>`
2. `terraform state show signalfx_dashboard.a`

But the problem is it has bunch of attributes computed like (id, url) and they are showing up in terraform config which are not configurable by user. Hence I would like to hide the computed attributed hidden

[2022-11-23 09:32] maltefiala opened #399 "Feature request: Getting rid of the need for session tokens"
**Current Scenario**
Currently, several operations are only doable using your personal session token, aquireable by hand on the personal user's profile page.

See also https://dev.splunk.com/observability/docs/administration/authtokens/#Operations-that-require-a-session-token-for-an-administrator

**Target scenario**
Personal session tokens are no longer needed for automated tasks. Instead, organi